<!-- choose-room -->

<section class="choose-room">

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    {% include "partials/choose-table/choose-table.htm" %}

    <div class="choose-room__image-wrap">

        <img
            alt    = ""
            class  = "choose-room__image"
            src    = "/assets/images/choose-room-1.jpg"
            usemap = "#choose-room-map"
        />

        <map
            name  = "choose-room-map"
            id    = "choose-room-map"
            class = "choose-room__map"
        >
            <area
                shape  = "poly"
                coords = "199,140,199,31,271,29,273,148,198,149"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('131','22','15.9','45424223')"
            />
            <area
                shape  = "poly"
                coords = "352,32,353,149,427,151,429,31"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('132','33','15.9','5650800')"
            />
            <area
                shape  = "poly"
                coords = "430,149,431,34,482,33,526,39,550,54,563,66,573,81,452,152"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('133','45','15.9','4564886')"
            />
            <area
                shape  = "poly"
                coords = "441,172,450,154,575,82,584,105,586,136,573,176,562,199,544,227"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('134','55','15.9','1213131')"
            />
            <area
                shape  = "poly"
                coords = "410,223,439,177,541,234,509,285"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('135','66','15.9','234453654')"
            />
            <area
                shape  = "poly"
                coords = "383,214,510,287,501,303,511,323,510,341,507,346,356,259"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('136','78','15.9','32452345')"
            />
            <area
                shape  = "poly"
                coords = "355,260,505,349,500,354,488,360,478,359,468,358,458,375,329,300"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('137','41.1','15.9','2372856')"
            />
            <area
                shape  = "poly"
                coords = "354,318,325,369,428,429,460,378"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('138','41.1','15.9','5650800')"
            />
            <area
                shape  = "poly"
                coords = "322,376,314,396,314,532,347,525,365,517,379,505,393,484,403,473,414,458,421,440,428,429"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('139','41.1','15.9','5650800')"
            />
            <area
                shape  = "poly"
                coords = "313,393,310,534,290,532,262,520,239,501,225,481,206,449,196,435,298,373"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('140','41.1','15.9','5650800')"
            />
            <area
                shape  = "poly"
                coords = "275,335,170,391,141,335,245,280"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('131','89','15.9','45544545')"
            />
            <area
                shape  = "poly"
                coords = "242,277,138,330,111,284,215,229"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('131','55','15.9','560800')"
            />
            <area
                shape  = "poly"
                coords = "215,227,110,284,80,231,184,172"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('131','40','15.9','898989')"
            />
            <area
                shape  = "poly"
                coords = "181,171,78,226,46,175,41,153,35,126,37,111,43,91,49,80,175,151"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('131','41.1','15.9','150000')"
            />
            <area
                shape  = "poly"
                coords = "178,148,195,148,193,30,164,30,124,24,105,32,80,40,63,54,48,74"
                href   = "/pages/4.4.object-apartment.html"
                v-on:mouseover = "changeInfo('300','41.1','15.9','123456789')"
            />
        </map>

    </div>

</section>

<!-- /choose-room  -->