.choose-breadcrumbs {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0062cd;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    @media screen and (--mobile) {
        position: relative;
    width: 100%;
    }
}

.choose-breadcrumbs__back {
    width: 94px;
    background-color: #0778f4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/choose-breadcrumbs-1.svg);
    &:hover{
        background-color: #3395FF;
    }
    @media screen and (--mobile) {
        display: none;
    }
}

.choose-breadcrumbs__caption {
    padding: 20px;
}

.choose-breadcrumbs__navigation {
    display: block;
    display: block;
    font-family: GothamProMedium;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 11px;
}

.choose-breadcrumbs__motivation {
    font-family: GothamProMedium;
    font-size: 24px;
    font-weight: 500;
    display: block;
}