.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0 20px;
    width: calc(100% + 40px);
    background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
    @media screen and (--mobile) {
        margin-left: -10px;
        padding: 0 10px;
        width: calc(100% + 20px);
    }
}

.breadcrumbs__item {
    position: relative;
    font-size: 13px;
    color: #8b8b8b;
    & a {
        padding: 20px 0;
        display: inline-block;
        color: #8b8b8b;
    }
    &:not(:last-child) {
        &::after {
            padding: 0 .5em 0 .3em;
            content: '-';
        }
    }
    &:last-child {
        &>a {
            cursor: default;
        }
    }
}