.filter-table {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-collapse: collapse;
    @media screen and (--tablet) {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    }
    @media screen and (--mobile) {
        display: block;
        overflow-x: auto;
        margin-bottom: 30px;
    }
    & thead {
        border-bottom: 20px solid #fff;
    }
    & tbody {
        & tr {
            cursor: pointer;
            &:hover {
                background-color: #ffeea1;
            }
        }
    }
    & tr {
        border-bottom: 1px solid #fff;
        background-color: #fafafa;
        transition-duration: var(--transitionDuration);
    }
    & td {
        padding: 15px 20px 28px;
        color: #000000;
        vertical-align: middle;
        font-size: 14px;
        @media screen and (--tablet) {
            padding: 15px;
        }
        @media screen and (--mobile) {
            white-space: nowrap;
        }
    }
    & th {
        padding: 15px 20px;
        color: #000000;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        font-family: GothamProBold;
        line-height: 1.5;
        @media screen and (--tablet) {
            padding: 15px;
        }
        @media screen and (--mobile) {
            white-space: nowrap;
        }
    }
}

.filter-table__item-name {
    position: relative;
    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: 'код ' attr(data-code);
        text-align: left;
        white-space: nowrap;
        font-size: 10px;
        line-height: 1.8;
        transform: translateY(100%);
    }
}