.filter-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    @media screen and (--mobile) {
        display: block;
        overflow-x: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
        margin-bottom: 30px;
    }
    & thead {
        border-bottom: 20px solid #fff;
    }
    & tbody {
        & tr {
            cursor: pointer;
            &:hover {
                background-color: #ffeea1;
            }
        }
    }
    & tr {
        border-bottom: 1px solid #fff;
        background-color: #fafafa;
        transition-duration: var(--transitionDuration);
    }
    & td {
        padding: 15px 20px;
        color: #000000;
        font-size: 14px;
        @media screen and (--mobile) {
            white-space: nowrap;
        }
    }
    & th {
        padding: 15px 20px;
        color: #000000;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        font-family: GothamProBold;
        line-height: 1.5;
        @media screen and (--mobile) {
            white-space: nowrap;
        }
    }
}