<!-- filter-table -->
<table class="filter-table">
    <thead>
        <tr>
            <th>Объект:</th>
            <th>Цена м2:</th>
            <th>Площадь:</th>
            <th>Комнат:</th>
            <th>Помещение:</th>
            <th>Стоимость, руб:</th>
        </tr>
    </thead>
    <tbody>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
        <tr data-href="/pages/4.4.object-apartment.html">
            <td><span class="filter-table__item-name" data-code="100051">ЖК Зенит</span></td>
            <td>80 000</td>
            <td>75 м2</td>
            <td>2</td>
            <td>Жилое</td>
            <th>5 000 000</th>
        </tr>
    </tbody>
</table>
<!-- /filter-table  -->