.header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    @media screen and (--mobile) {
        padding: 0;
        height: 60px;
        background-color: #fff;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    padding-right: var(--gridGutter);
    width: calc((100%/12)*4);
    @media screen and (--tablet) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 170px;
        padding-right: 0;
    }
}

.header__logo-image {
    display: block;
    margin-right: 51px;
    width: 170px;
    height: 33px;
    background-image: url(../images/header-1.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        margin-right: 0;
    }
}

.header__description {
    color: #000000;
    text-transform: uppercase;
    font-size: 10px;
    @media screen and (--tablet) {
        font-size: 8px;
    }
    @media screen and (--mobile) {
        display: none;
    }
}

.header__contacts {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    @media screen and (--tablet) {
        flex-grow: 0;
    }
    @media screen and (--mobile) {
        display: none;
    }
}

.header__contacts-col {
    &:first-child {
        padding-right: 1rem;
    }
}

.header__contacts-phone {
    display: block;
    margin-bottom: 6px;
    color: #252525;
    font-size: 18px;
    font-family: GothamProMedium;
}

.header__contacts-address {
    display: block;
    color: #252525;
    text-transform: uppercase;
    font-size: 10px;
}

.header__contacts-callback {
    border-bottom: 1px dotted currentColor;
    color: #0062cd;
    text-transform: uppercase;
    font-size: 10px;
    &:hover {
        border-color: transparent;
        color: #252525;
    }
}

.header__contacts-worktime {
    display: block;
    color: #252525;
    font-size: 13px;
    line-height: 20px;
}

.header__contacts-email {
    color: #252525;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    font-family: GothamProMedium;
    &:hover {
        color: #0062CD;
    }
}

.header__filter-button {
    flex-shrink: 0;
    padding: 2px 10px 0 42px;
    border: solid 1px #0062cd;
    border-radius: 4px;
    background-image: url(../images/header-2.svg);
    background-position: 16px center;
    background-repeat: no-repeat;
    color: #0062cd;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    font-family: GothamProBold;
    line-height: 36px;
    @media screen and (--mobile) {
        display: none;
    }
    &:hover {
        background-color: #0062cd;
        background-image: url(../images/header-5.svg);
        color: #fff;
    }
}

.header__menu-button {
    position: relative;
    top: 0px;
    right: 0;
    display: none;
    width: 40px;
    height: 60px;
    background-image: url(../images/header-3.svg);
    background-position: center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    transition-duration: var(--transitionDuration);
    @media screen and (--mobile) {
        display: block;
    }
    &--active {
        background-image: url(../images/header-4.svg);
    }
}