<!-- header -->
<header class="header">

    <figure class="header__logo">
        <a href="/" class="header__logo-image"></a>
        <figcaption class="header__description">строительная компания</figcaption>
    </figure>

    <address class="header__contacts">
        <div class="header__contacts-col">
            <a href="tel:" class="header__contacts-phone">+7 (000) 000-00-00</a>
            <span class="header__contacts-address">Севастополь, ул. Ковпака, 3 строение В</span>
            <button class="header__contacts-callback" type="button">перезвоните мне</button>
        </div>
        <div class="header__contacts-col">
            <span class="header__contacts-worktime">09:00-19:00, ПН-СБ</span>
            <a href="mailto:" class="header__contacts-email">office@crimeagrad.ru</a>
        </div>
    </address>

    <a href="#" class="header__filter-button">подобрать квартиру</a>

    <button class="header__menu-button"></button>

</header>
<!-- /header  -->
