<!-- footer-social -->
<section class="footer-social">

    <div class="footer-social__buttons-wrap">
        <a href="#" class="footer-social__button footer-social__button--vk" target="_blank"></a>
        <a href="#" class="footer-social__button footer-social__button--fb" target="_blank"></a>
        <a href="#" class="footer-social__button footer-social__button--in" target="_blank"></a>
    </div>

    <a href="http://krown.cc" class="footer-social__developer" target="_blank"></a>

</section>
<!-- /footer-social  -->