<!-- footer-social -->
<section class="footer-social">

    <div class="footer-social__buttons-wrap">
        <a href="#" class="footer-social__button footer-social__button--vk" target="_blank"></a>
        <a href="#" class="footer-social__button footer-social__button--fb" target="_blank"></a>
        <a href="#" class="footer-social__button footer-social__button--in" target="_blank"></a>
    </div>

    <a href="tel:" class="footer-social__phone">+7 (000) 000-00-00</a>
    <address class="footer-social__address">Севастополь, ул. Ковпака, 3 строение В</address>

    <a href="http://krown.cc" class="footer-social__developer" target="_blank"></a>

    <small class="footer-social__rights">© 2017 КрымГрад. Все права защищены</small>

</section>
<!-- /footer-social  -->