.footer-social {
    width: calc((100%/12)*1);
    margin-right: calc((100%/12)*1);
    @media screen and (--tablet) {
        width: calc((100%/12)*2);
        margin-right: 0;
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.footer-social__buttons-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
    @media screen and (--mobile) {
        width: 50%;
        margin-bottom: 34px;
    }
}

.footer-social__button {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    &--vk {
        background-image: url(../images/footer-social-1.png);
        &:hover {
            background-image: url(../images/footer-social-5.png);
        }
    }
    &--fb {
        background-image: url(../images/footer-social-2.png);
        &:hover {
            background-image: url(../images/footer-social-6.png);
        }
    }
    &--in {
        background-image: url(../images/footer-social-3.png);
        &:hover {
            background-image: url(../images/footer-social-7.png);
        }
    }
}

.footer-social__phone {
    display: block;
    width: max-content;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 8px;
    display: none;
    @media screen and (--mobile) {
        display: block;
    }
}

.footer-social__address {
    display: block;
    margin-bottom: 27px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    display: none;
    @media screen and (--mobile) {
        display: block;
    }
}

.footer-social__developer {
    width: 100px;
    height: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/footer-social-4.png);
    display: block;
    @media screen and (--tablet) {
        margin-left: auto;
    }
    @media screen and (--mobile) {
        margin-left: 0;
        margin-bottom: 43px;
    }
}

.footer-social__rights {
    display: block;
    color: #7b7b7b;
    font-size: 12px;
    line-height: 2.0;
    display: none;
    @media screen and (--mobile) {
        display: block;
    }
}