.object-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    padding-right: var(--gridGutter);
    min-height: 900px;
    width: calc((100%)/12*2);
    background-image: url(../images/object-menu-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        width: calc(100%/12*3);
    }
    @media screen and (--mobile) {
        min-height: auto;
        width: 100%;
    }
}

.object-menu__logo {
    margin: 0 auto 15px;
    max-width: 102px;
    max-height: 68px;
    mix-blend-mode: darken;
}

.object-menu__name {
    margin-bottom: 44px;
    width: 100%;
    color: #252525;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
        margin-bottom: 1rem;
    }
}

.object-menu__name-description {
    color: #000000;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 1.78;
}

.object-menu__mobile-button {
    display: none;
    margin: 0 auto 1rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #252525;
    background-image: url(../images/object-menu-4.svg);
    background-position: center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    @media screen and (--mobile) {
        display: block;
    }
    &--active {
        background-color: #E7E7E7;
        background-image: url(../images/object-menu-5.svg);
    }
}

.object-menu__mobile-content {
    display: block;
    padding: 1rem 0 2rem;
    width: 100%;
    @media screen and (--mobile) {
        display: none;
        background-color: #fff;
    }
}

.object-menu__nav {
    margin-bottom: 2rem;
    width: 100%;
}

.object-menu__nav-item {
    display: block;
    padding: 10px 0;
    width: max-content;
    color: #252525;
    text-transform: uppercase;
    font-size: 14px;
    @media screen and (--mobile) {
        margin: 0 auto;
    }
    &:hover {
        color: #9c765a;
    }
}

.object-menu__nav-item-text {
    @nest .object-menu__nav-item:hover & {
        border-bottom-color: transparent;
    }
    border-bottom: 1px dotted;
    font-weight: normal;
    font-family: GothamProBold;
    line-height: inherit;
    transition-duration: inherit;
}

.object-menu__link-to-filter {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    padding: 57px 10px 13px;
    width: 160px;
    border: solid 1px;
    border-radius: 4px;
    background-image: url(../images/object-menu-3.svg);
    background-position: 10px 14px;
    background-repeat: no-repeat;
    color: #9c765a;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 1.14;
    &:hover {
        background-color: #9c765a;
        color: #fff;
        background-image: url(../images/object-menu-6.svg);
    }
    @media screen and (--mobile) {
        margin: 0 auto;
    }
}

.object-menu__footer {
    margin-top: auto;
    width: 100%;
    @media screen and (--mobile) {
        display: none;
    }
}

.object-menu__phone {
    display: block;
    margin-bottom: 9px;
    color: #242525;
    font-weight: normal;
    font-size: 18px;
    font-family: GothamProBold;
}

.object-menu__worktime {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
}

.object-menu__email {
    display: block;
    margin-bottom: 2rem;
    color: #9c765a;
    font-size: 13px;
    &:hover {
        color: #242525;
    }
}

.object-menu__callback {
    padding: 14px;
    border-radius: 4px;
    background-color: #0062cd;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    &:hover {
        background-color: #9c765a;
    }
}