<!-- object-menu -->
<section class="object-menu">

    <img src="/assets/images/object-menu-2.png" alt="" class="object-menu__logo">

    <figure class="object-menu__name">
        ЗЕНИТ
        <figcaption class="object-menu__name-description">жилищный комплекс</figcaption>
    </figure>

    <nav class="object-menu__nav">
        <a href="#object-text" class="object-menu__nav-item">
            <span class="object-menu__nav-item-text">О проекте</span>
        </a>
        <a href="#object-map" class="object-menu__nav-item">
            <span class="object-menu__nav-item-text">Расположение</span>
        </a>
        <a href="#object-text" class="object-menu__nav-item">
            <span class="object-menu__nav-item-text">инфраструктура</span>
        </a>
        <a href="#object-gallery" class="object-menu__nav-item">
            <span class="object-menu__nav-item-text">ХОД строительства</span>
        </a>
        <a href="#object-documents" class="object-menu__nav-item">
            <span class="object-menu__nav-item-text">документация</span>
        </a>
    </nav>

    <a href="/pages/4.1.object-house.html" class="object-menu__link-to-filter">Выбрать квартиру</a>

    <footer class="object-menu__footer">
        <a href="tel:#" class="object-menu__phone">+7 (000) 000-00-00</a>
        <time class="object-menu__worktime">09:00-19:00, ПН-СБ</time>
        <a href="mailto:#" class="object-menu__email">office@crimeagrad.ru</a>
        <button class="object-menu__callback" type="button">перезвоните мне</button>
    </footer>

</section>
<!-- /object-menu  -->