<!-- letter -->
<figure class="letter">
    <img
        src   = "/assets/images/letter-1.jpg"
        alt   = ""
        class = "letter__image"
        data-fix--ie--object-fit
    >
    <figcaption class="letter__caption typography">
        <p>“Компания “Крымград”  – компания высококвалифицированных специалистов и трудолюбивых работников, людей слова и дела. Каждый новый проект, как и любую другую работу, мы доводим до конца, и это один из основных принципов нашей деятельности. Сотрудники компании “Крымград” – опытные строители, инженеры, архитекторы, проектировщики, юристы, консультанты, агенты и многие другие специалисты с многолетним стажем, без которых компания не смогла бы существовать. Более ХХХ человек в штате – это единомышленники с большим зарядом положительной энергии, с верой в себя и чувством гордости за свою работу. Лидерские качества и желание быть лучше – вот та движущая сила, благодаря которой компания сегодня безостановочно развивается, набирает обороты и удерживает одну из лидирующих позиций на рынке недвижимости полуострова Крым.”</p>
        <div
            class = "letter__caption-footer"
            style = "background-image: url(/assets/images/letter-2.png)"
        >
            <strong class="letter__name">Мария Чемеризова</strong>
            <span class="letter__subname">Председатель совета директоров ООО "Крымград"</span>
        </div>
    </figcaption>
</figure>
<!-- /letter  -->