.letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    @media screen and (--mobile) {
        margin-bottom: 50px;
    }
}

.letter__image {
    width: calc((100% - var(--gridGutter))/12*4);
    height: 360px;
    object-position: center;
    object-fit: cover;
    @media screen and (--mobile) {
        width: 100%;
        height: 240px;
    }
}

.letter__caption {
    width: calc((100% - var(--gridGutter))/12*8);
    padding-left: 50px;
    @media screen and (--tablet) {
        padding-left: 0;
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.letter__caption-footer {
    display: inline-block;
    margin-top: 1em;
    padding-right: 270px;
    min-height: 110px;
    background-position: right top;
    background-repeat: no-repeat;
    background-image: contain;
    @media screen and (--mobile) {
        padding-right: 0;
        padding-bottom: 110px;
        background-position: center bottom;
        background-size: auto 110px;
    }
}

.letter__name {
    display: block;
    font-weight: normal;
    font-size: 19px;
    font-family: GothamProBold;
}

.letter__subname {
    display: block;
}