.object-gallery {
    margin-bottom: 140px;
    width: calc((100% - var(--gridGutter))/12*7);
    @media screen and (--tablet) {
        margin-bottom: 80px;
        width: 100%;
    }
    & .fotorama__thumb-border {
        border-color: #fb9b2a !important;
    }
    & .fotorama__arr {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &--prev {
            background-image: url(../images/object-gallery-1.svg);
        }
        &--next {
            background-image: url(../images/object-gallery-2.svg);
        }
    }
}

.object-gallery__title {
    margin-bottom: 53px;
    color: #242525;
    font-size: 48px;
    @media screen and (--mobile) {
        font-size: 30px;
        margin-bottom: 2rem;
    }
}

.object-gallery__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
    width: 100%;
    list-style: none;
}

.object-gallery__nav-item {
    margin-right: 2em;
    border-bottom: 1px dashed transparent;
    color: #252525;
    font-weight: normal;
    font-size: 18px;
    font-family: GothamProBold;
    cursor: pointer;
    transition-duration: .5s;
    &:hover,
    &.active {
        border-color: currentColor;
        color: #0062cd;
    }
}

.object-gallery__tabs-wrap {
    width: 100%;
}

.object-gallery__tab {
    width: 100%;
}

.object-gallery__inner {
    width: 100%;
}

.object-gallery__inner-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    width: 100%;
    list-style: none;
}

.object-gallery__inner-nav-item {
    margin-right: 2em;
    border-bottom: 1px dashed transparent;
    color: #252525;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    cursor: pointer;
    transition-duration: .5s;
    &:hover,
    &.active {
        border-color: currentColor;
        color: #0062cd;
    }
}

.object-gallery__inner-tabs-wrap {
    width: 100%;
    @media screen and (--mobile) {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
}

.object-gallery__inner-tab {
    width: 100%;
    // height: 650px;
    @media screen and (--mobile) {
        // height: 260px;
    }
}