<!-- object-gallery -->
<section class="object-gallery">

    <header class="object-gallery__title">Ход строительства</header>

    <ul class="object-gallery__nav">
        <li class="object-gallery__nav-item">2017</li>
        <li class="object-gallery__nav-item">2016</li>
    </ul>

    <div class="object-gallery__tabs-wrap">

        <figure class="object-gallery__tab">

            <section class="object-gallery__inner">

                <ul class="object-gallery__inner-nav">
                    <li class="object-gallery__inner-nav-item">январь</li>
                    <li class="object-gallery__inner-nav-item">февраль</li>
                </ul>

                <div class="object-gallery__inner-tabs-wrap">
                    <figure class="object-gallery__inner-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim rerum consequatur voluptatibus, temporibus quibusdam praesentium, iste dolores veniam excepturi quis qui architecto numquam provident culpa. Quos consequatur est modi iste!</figure>
                    <figure class="object-gallery__inner-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto similique voluptatum reprehenderit accusantium, non, sunt adipisci rerum quod doloremque eum suscipit quos quasi. Molestias nobis quidem, aliquid error porro, enim.</figure>
                </div>

            </section>

        </figure>

        <figure class="object-gallery__tab">

            <section class="object-gallery__inner">

                <ul class="object-gallery__inner-nav">
                    <li class="object-gallery__inner-nav-item">январь</li>
                    <li class="object-gallery__inner-nav-item">февраль</li>
                </ul>

                <div class="object-gallery__inner-tabs-wrap">
                    <figure class="object-gallery__inner-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim rerum consequatur voluptatibus, temporibus quibusdam praesentium, iste dolores veniam excepturi quis qui architecto numquam provident culpa. Quos consequatur est modi iste!</figure>
                    <figure class="object-gallery__inner-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto similique voluptatum reprehenderit accusantium, non, sunt adipisci rerum quod doloremque eum suscipit quos quasi. Molestias nobis quidem, aliquid error porro, enim.</figure>
                </div>

            </section>

        </figure>

    </div>

</section>
<!-- /object-gallery  -->