.news {
    width: calc((100% - var(--gridGutter))/12*9);
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter))/12*8);
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.news__nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-bottom: 22px;
    width: 100%;
    list-style: none;
    white-space: nowrap;
}

.news__nav-item {
    margin-right: 22px;
    border-bottom: 1px dashed currentColor;
    color: #0062cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: GothamProBold;
    cursor: pointer;
    transition-duration: .5s;
    &:hover,
    &.active {
        border-color: transparent;
        color: #252525;
    }
}

.news__tabs-wrap {
    width: 100%;
}

.news__tab {
    width: 100%;
}

.news__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.news__item {
    display: block;
    margin-bottom: var(--gridGutter);
    width: calc((100% - var(--gridGutter)*2)/12*4);
    height: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0s;
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter))/12*6);
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.news__item-image {
    @nest [data-layout=main] & {
        @media screen and (--mobile) {
            display: none;
        }
    }
    width: 100%;
    height: 180px;
    object-position: center;
    object-fit: cover;
    @media screen and (--mobile) {
        height: 100px;
    }
}

.news__item-caption {
    padding: 10px;
    width: 100%;
}

.news__item-date {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-size: 11px;
    line-height: 2.18;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.news__item-category {
    color: #0062cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    font-family: GothamProBold;
    line-height: 2.4;
}

.news__item-title {
    display: block;
    margin-bottom: 24px;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    font-family: GothamProMedium;
    line-height: 1.2;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.news__action {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: var(--gridGutter);
    padding: 12px 12px 70px;
    min-height: 260px;
    width: 100%;
    width: calc((100% - var(--gridGutter)*2)/12*4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter))/12*6);
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.news__action-image {
    @nest .news__action:hover & {
        opacity: .8;
        transform: scale(1.05);
    }
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
    object-position: center;
    object-fit: cover;
}

.news__action-name {
    position: relative;
    display: block;
    align-self: flex-start;
    width: 100%;
    color: #9c765a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.64;
    @media screen and (--mobile) {
        display: none;
    }
}

.news__action-title {
    position: relative;
    display: block;
    align-self: flex-end;
    width: 100%;
    color: #0062cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 1.5em;
}

.news__action-cost {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: block;
    align-self: flex-end;
    color: #0062cd;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 36px;
    }
}