{% macro newsItem(category, title) %}
<a class="news__item" href="#">
    <img
        alt   = ""
        class = "news__item-image"
        src   = "/assets/images/promo-1.jpg"
        data-fix--ie--object-fit
    >
    <div class="news__item-caption">
        <time class="news__item-date">12/01/16</time>
        <p class="news__item-category">{{ category }}</p>
        <strong class="news__item-title">{{ title }}</strong>
    </div>
</a>
{% endmacro %}

<!-- news -->
<section class="news">

    <ul class="news__nav">
        <li class="news__nav-item">2017</li>
        <li class="news__nav-item">2016</li>
    </ul>

    <div class="news__tabs-wrap">

        <figure class="news__tab">
            <div class="news__items-wrap">

                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы'
                ) }}

            </div>
        </figure>

        <figure class="news__tab">
            2222222
        </figure>

    </div>
</section>
<!-- /news  -->
