{% macro newsItem(category, title, image) %}
<a class="news__item" href="/pages/6.1.new.html">
    <img
        alt   = ""
        class = "news__item-image"
        src   = "/assets/images/news-i{{ image }}.jpg"
        data-fix--ie--object-fit
    >
    <div class="news__item-caption">
        <time class="news__item-date">12/01/16</time>
        <p class="news__item-category">{{ category }}</p>
        <strong class="news__item-title">{{ title }}</strong>
    </div>
</a>
{% endmacro %}

{% macro newsAction(image, title, cost) %}
<a
    href  = "/pages/7.1.action.html"
    class = "news__action"
>
    <img
        src   = "/assets/images/sales-{{ image }}.jpg"
        alt   = ""
        class = "news__action-image"
        data-fix--ie--object-fit
    >
    <strong class="news__action-name">акция</strong>
    <strong class="news__action-title">{{ title | safe}}</strong>
    <span class="news__action-cost">{{ cost | safe}}</span>
</a>
{% endmacro %}

<!-- news -->
<section class="news">

    <ul class="news__nav">
        <li class="news__nav-item">Все новости</li>
        <li class="news__nav-item">акции</li>
        <li class="news__nav-item">компания</li>
        <li class="news__nav-item">пресса</li>
    </ul>

    <div class="news__tabs-wrap">

        <figure class="news__tab">
            <div class="news__items-wrap">

                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '1'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '2'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '3'
                ) }}
                {{ newsAction(
                    '2',
                    'для<br>молодоженов<br>скидка',
                    '10%'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '4'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '5'
                ) }}

            </div>
        </figure>

        <figure class="news__tab">
            <div class="news__items-wrap">

                {{ newsAction(
                    '1',
                    'рассрочка',
                    '36<small>мес.</small>'
                ) }}
                {{ newsAction(
                    '2',
                    'для<br>молодоженов<br>скидка',
                    '10%'
                ) }}
                {{ newsAction(
                    '3',
                    'рассрочка',
                    '36<small>мес.</small>'
                ) }}

            </div>
        </figure>

        <figure class="news__tab">
            <div class="news__items-wrap">

                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '6'
                ) }}
                {{ newsAction(
                    '3',
                    'рассрочка',
                    '36<small>мес.</small>'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '7'
                ) }}
                {{ newsAction(
                    '2',
                    'для<br>молодоженов<br>скидка',
                    '10%'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '8'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '1'
                ) }}

            </div>
        </figure>

        <figure class="news__tab">
            <div class="news__items-wrap">

                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '2'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '3'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '4'
                ) }}
                {{ newsAction(
                    '2',
                    'для<br>молодоженов<br>скидка',
                    '10%'
                ) }}
                {{ newsItem(
                    'ЖК “Парк Победы”',
                    'Разрешение на ввод в эксплуатацию 2 очередь ЖК Парк Победы',
                    '5'
                ) }}
                {{ newsAction(
                    '3',
                    'рассрочка',
                    '36<small>мес.</small>'
                ) }}
                {{ newsAction(
                    '1',
                    'рассрочка',
                    '36<small>мес.</small>'
                ) }}

            </div>
        </figure>

    </div>
</section>
<!-- /news  -->
