<!-- acions -->
<section class="acions">

    <header class="acions__header">
        <strong class="acions__title">Акции</strong>
        <a href="/pages/7.actions.html" class="acions__readmore">все акции</a>
    </header>

    <div class="acions__items-wrap">

        <a href="/pages/7.1.action.html" class="acions__item">
            <time class="acions__item-date">10/01/16</time>
            <strong class="acions__item-title">Ипотека от 11,1 на весь срок кредитования</strong>
            <img src="/assets/images/actions-2.png" alt="" class="acions__item-image">
        </a>

        <a href="/pages/7.1.action.html" class="acions__item">
            <time class="acions__item-date">8/01/16</time>
            <strong class="acions__item-title">Бонус до 500 000 руб. на готовые квартиры</strong>
            <img src="/assets/images/actions-3.png" alt="" class="acions__item-image">
        </a>

    </div>

</section>
<!-- /acions  -->