.acions {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acions__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.acions__title {
    margin-right: 22px;
    color: #242525;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: GothamProBold;
    line-height: 30px;
}

.acions__readmore {
    color: #9b9b9b;
    font-weight: bold;
    font-size: 10px;
    font-family: GothamProBold;
}

.acions__items-wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.acions__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 12px 150px 12px 12px;
    width: 100%;
    height: calc((100% - 36px)/2);
    background-color: #fff;
    background-image: url(../images/actions-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.acions__item-date {
    flex-grow: 0;
    align-self: stretch;
    margin-bottom: 19px;
    color: #000000;
    font-size: 11px;
    line-height: 2.18;
}

.acions__item-title {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    font-family: GothamProMedium;
    line-height: 1.27;
}

.acions__item-image {
    position: absolute;
    top: 50%;
    right: 2rem;
    max-width: 110px;
    max-height: 110px;
    transform: translateY(-50%);
}