.sidebar-menu {
    width: calc(var(--gridSize3) - var(--gridGutter));
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), inset 0 5px 0 0 #9c765a;
    padding: 20px;
    margin-bottom: 94px;
    @media screen and (max-width: 1640px) {
       width: calc((100% - var(--gridGutter))/12*3);
    }
}

.sidebar-menu__item {
    display: block;
    font-family: GothamProMedium;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.77;
    color: #0062cd;
    text-transform: uppercase;
    &--active,
    &:hover {
        color: #252525;
    }
}