<!-- action -->
<article class="action">
    <header class="action__title">Скидка 10% для молодоженов</header>
    <div class="action__image-wrap">
        <img src="/assets/images/promo-1.jpg" alt="" class="action__image">
        <span class="action__image-description">
            АКЦИЯ ДО
            <br>01.2.17
        </span>
    </div>
    <div class="action__content-wrap typography">
        <p>Жилой комплекс «Морской квартал» – это уникальный проект не только для Алушты, но и для всего Крымского полуострова. Окруженный удивительной природой, этот комплекс станет для Вас и Вашей семьи настоящей находкой!</p>
        <p>Архитектурный ансамбль состоит из 12 высотных башен переменной этажности – от 9 до 16 этажей. «Свежая нотка» проекта – смещение домов относительно друг друга под небольшим углом, в то время как все здания ансамбля выполнены в форме треугольника – так каждая квартира буквально купается в солнечных лучах, открывая красивейшие виды на морское побережье. Подобное архитектурное решение выгодно выделяется на фоне остальных новостроек Крыма, и застройщику ЖК «Морской квартал» за подобный интересный шаг особенная благодарность.</p>
    </div>
</article>
<!-- /action  -->