.action {
    width: 100%;
}

.action__title {
    margin-bottom: 14px;
    padding-top: 30px;
    font-size: 48px;
    line-height: 54px;
}

.action__image-wrap {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    min-height: 180px;
    @media screen and (--mobile) {
        margin-bottom: 1rem;
    }
}

.action__image {
    width: 100%;
}

.action__image-description {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #FB9B2A;
    background-image: url(../images/action-1.svg);
    background-position: center 28px;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
}

.action__content-wrap {
    width: 100%;
}