.sertificates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (--mobile) {
        width: 100vw;
        transform: translateX(calc(-50% + 150px));
    }
}

.sertificates__item {
    margin-bottom: 57px;
    padding: 0 1rem;
    width: 25%;
    transition-duration: var(--transitionDuration);
    @media screen and (--tablet) {
        width: calc(100% / 3);
    }
    @media screen and (--mobile) {
        display: none;
        padding: 0;
        width: 220px;
        margin-bottom: 0;
        &.swiper-slide {
            display: block;
            opacity: .5;
            &.swiper-slide-active {
                opacity: 1;
            }
        }
    }
}

.sertificates__item-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 394px;
    @media screen and (--mobile) {
        height: 290px;
    }
}

.sertificates__item-image {
    max-width: 100%;
    max-height: 100%;
}

.sertificates__item-caption {
    color: #777777;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transition-duration: var(--transitionDuration);
    @media screen and (--tablet) {
        text-align: left;
    }
    @media screen and (--mobile) {
        @nest .swiper-slide-active & {
            opacity: 1;
        }
        padding: 13px 10px 0;
        width: 100vw;
        text-align: center;
        font-size: 12px;
        opacity: 0;
        transform: translateX(calc(-50% + 110px));
    }
}

.sertificates__slideshow {
    display: none;
    width: 100%;
    @media screen and (--mobile) {
        display: block;
    }
}