.realty {
    width: 100%;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
    }
}

.realty__item {
    display: flex;
    flex-shrink: 0;
    min-height: 180px;
    width: 100%;
    @media screen and (--mobile) {
        flex-wrap: wrap;
    }
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.realty__item-caption {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    width: 260px;
    background-color: #0062cd;
    @media screen and (--tablet) {
        width: var(--gridSize4);
    }
    @media screen and (--mobile) {
        width: 100%;
    }
}

.realty__item-title {
    display: block;
    align-self: flex-start;
    margin-bottom: 17px;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    font-family: GothamProMedium;
    line-height: 1.33;
}

.realty__item-city {
    display: block;
    align-self: flex-end;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: GothamProMedium;
    line-height: 1.71;
}

.realty__item-image {
    flex-shrink: 0;
    width: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        width: var(--gridSize3);
    }
    @media screen and (--mobile) {
        width: 100%;
        height: 180px;
    }
}

.realty__item-table {
    min-height: 180px;
    width: calc(100% - 240px - 260px);
    border-collapse: collapse;
    border-right: solid 1px #979797;
    border-bottom: solid 1px #979797;
    @media screen and (--tablet) {
        width: var(--gridSize5);
    }
    @media screen and (--mobile) {
        width: 100%;
        border-top: solid 1px #979797;
        border-left: solid 1px #979797;
    }
    & thead {
        & tr {
            background-color: #0f0f10;
        }
        & th {
            padding: 22px;
            color: #ffffff;
            text-align: left;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            font-family: GothamProMedium;
            @media screen and (--tablet) {
                padding: 22px 1rem;
            }
            &:first-child {
                @media screen and (--tablet) {
                    display: none;
                }
            }
        }
    }
    & tbody {
        & td {
            padding: 2rem 22px 22px 22px;
            color: #252525;
            font-size: 13px;
            line-height: 1.38;
            @media screen and (--tablet) {
                padding: 2rem 1rem 22px 1rem;
            }
            &:first-child {
                width: 520px;
                @media screen and (--tablet) {
                    display: none;
                }
            }
        }
    }
}

.realty__item-table-num {
    display: block;
    margin-bottom: 12px;
    color: #252525;
    white-space: nowrap;
    font-weight: 500;
    font-size: 34px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
       margin-bottom: 8px;
       font-size: 22px;
    }
}

.realty__item-table-subnum {
    display: block;
    color: #252525;
    text-transform: lowercase;
    white-space: nowrap;
    font-size: 16px;
}