<!-- filter-options -->
<aside class="filter-options">

    <figure class="filter-options__item">
        <strong class="filter-options__item-title">Готовность:</strong>
        <figcaption class="filter-options__item-options-wrap">
            <input
                class = "filter-options__item-checkbox"
                id    = "filter-options-item-checkbox-2-1"
                type  = "checkbox"
                checked
            >
            <label for="filter-options-item-checkbox-2-1" class="filter-options__item-label">Строится</label>
            <input
                class = "filter-options__item-checkbox"
                id    = "filter-options-item-checkbox-2-2"
                type  = "checkbox"
            >
            <label for="filter-options-item-checkbox-2-2" class="filter-options__item-label">Построено</label>
        </figcaption>
    </figure>

    <figure class="filter-options__item">
        <strong class="filter-options__item-title">Тип помещения:</strong>
        <figcaption class="filter-options__item-options-wrap">
            <input type="checkbox" class="filter-options__item-checkbox" id="filter-options-item-checkbox-3-1" checked>
            <label for="filter-options-item-checkbox-3-1" class="filter-options__item-label">Жилая</label>
            <input type="checkbox" class="filter-options__item-checkbox" id="filter-options-item-checkbox-3-2">
            <label for="filter-options-item-checkbox-3-2" class="filter-options__item-label">Коммерческая</label>
        </figcaption>
    </figure>

    <figure class="filter-options__item">
        <strong class="filter-options__item-title">Вид из окон:</strong>
        <figcaption class="filter-options__item-options-wrap">
            <input type="checkbox" class="filter-options__item-checkbox" id="filter-options-item-checkbox-4-1" checked>
            <label for="filter-options-item-checkbox-4-1" class="filter-options__item-label">На горы</label>
            <input type="checkbox" class="filter-options__item-checkbox" id="filter-options-item-checkbox-4-2">
            <label for="filter-options-item-checkbox-4-2" class="filter-options__item-label">На море</label>
        </figcaption>
    </figure>

</aside>
<!-- /filter-options  -->