.page-title {
    font-size: 48px;
    color: #242525;
    padding: 20px 0 40px;
    position: relative;
    @media screen and (--mobile) {
        font-size: 30px;
    }
    &--with-city {
        &::after {
            content: attr(data-city);
            font-family: GothamProMedium;
            font-size: 14px;
            font-weight: 500;
            color: #777777;
            text-transform: uppercase;
            position: absolute;
            left: 0;
            bottom: 1em;
        }
    }
}