<form class="apartment-order" data-form>

    <header class="apartment-order__header">
        <p class="apartment-order__title">Забронировать квартиру</p>
        <p class="apartment-order__subtitle">ЖК Зенит: Квартира №134</p>
        <span class="apartment-order__code">Код 100051</span>
    </header>

    <div class="apartment-order__content">
        <p class="apartment-order__paragraph">Оставьте ваши контактные данные, и наши менеджеры свяжутся с вами.</p>
        <div class="apartment-order__fields-wrap">

            <div class="apartment-order__col">
                <label for="" class="apartment-order__label">ФИО:</label>
                <input
                    type        = "text"
                    class       = "apartment-order__field"
                    placeholder = "Введите ваше имя"
                >
            </div>

            <div class="apartment-order__col">
                <label for="" class="apartment-order__label">Телефон<span class="apartment-order__label-star">*</span></label>
                <input
                    type        = "text"
                    class       = "apartment-order__field"
                    placeholder = "+7 (495) 000-00-00"
                    data-form-phone-field
                    required
                >
                <p class="apartment-order__status" data-form-status>Введите номер телефона</p>
            </div>

        </div>
        <button data-form-btn class="apartment-order__button">Отправить</button>
    </div>

    <div class="apartment-order__success">
        Ваша заявка принята!
        <br>Наши менеджеры свяжутся с вами в ближайшее время.
    </div>

</form>