:root {
    --gridGutter: 1rem;
    --gridSize1: calc((100%/12)*1);
    --gridSize2: calc((100%/12)*2);
    --gridSize3: calc((100%/12)*3);
    --gridSize4: calc((100%/12)*4);
    --gridSize5: calc((100%/12)*5);
    --gridSize6: calc((100%/12)*6);
    --gridSize7: calc((100%/12)*7);
    --gridSize8: calc((100%/12)*8);
    --gridSize9: calc((100%/12)*9);
    --gridSize10: calc((100%/12)*10);
    --gridSize11: calc((100%/12)*11);
    --gridSize12: 100%;
}

.grid {
    position: relative;
    width: 100%;
    &--type {
        &--main {
            background-image: url(../images/grid-1.jpg), url(../images/grid-2.jpg);
            background-position: center bottom, center top;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        &--footer {
            background-color: #333333;
        }
    }
}

.grid__container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1640px;
    width: 100%;
    &--type {
        &--main {
            padding-top: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
}

.grid__row {
    display: flex;
    justify-content: space-between;
    clear: both;
    width: 100%;
    &--positions {
        &--3 {
            @nest [data-layout=partners] & {
                margin-left: -20px;
                padding: 0 20px;
                width: calc(100% + 40px);
                background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
            }
        }
        &--3-4 {
            @nest [data-layout=main] & {
                padding-bottom: 1rem;
            }
        }
        &--5-6 {
            @nest [data-layout=main] & {
                padding-bottom: 84px;
            }
        }
        &--7-8-9 {
            @nest [data-layout=main] & {
                padding-bottom: 100px;
            }
        }
        &--10-11 {
            @nest [data-layout=main] & {
                padding-bottom: 100px;
            }
        }
        &--13-14-15 {
            @nest [data-layout=main] & {
                padding: 96px 0 51px;
            }
        }
    }
}

.grid__col {
    &--position {
        &--1 {
            @nest [data-layout=main] & {
                width: var(--gridSize12);
            }
            @nest [data-layout=partners] & {
                width: var(--gridSize12);
            }
        }
        &--2 {
            @nest [data-layout=main] & {
                width: var(--gridSize12);
            }
            @nest [data-layout=partners] & {
                width: var(--gridSize12);
            }
        }
        &--3 {
            @nest [data-layout=main] & {
                padding-right: var(--gridGutter);
                width: var(--gridSize9);
            }
            @nest [data-layout=partners] & {
                width: var(--gridSize12);
            }
        }
        &--4 {
            @nest [data-layout=main] & {
                display: flex;
                width: var(--gridSize3);
            }
            @nest [data-layout=partners] & {
                width: var(--gridSize12);
            }
        }
        &--5 {
            @nest [data-layout=main] & {
                padding-right: var(--gridGutter);
                width: var(--gridSize9);
            }
        }
        &--6 {
            @nest [data-layout=main] & {
                display: flex;
                padding-bottom: 1rem;
                width: var(--gridSize3);
            }
        }
        &--7 {
            @nest [data-layout=main] & {
                padding-right: var(--gridGutter);
                width: var(--gridSize3);
            }
        }
        &--8 {
            @nest [data-layout=main] & {
                padding-right: var(--gridGutter);
                width: var(--gridSize5);
            }
        }
        &--9 {
            @nest [data-layout=main] & {
                width: var(--gridSize4);
            }
        }
        &--10 {
            @nest [data-layout=main] & {
                width: var(--gridSize7);
            }
        }
        &--11 {
            @nest [data-layout=main] & {
                display: flex;
                align-items: center;
                width: var(--gridSize4);
            }
        }
        &--12 {
            @nest [data-layout=main] & {
                width: var(--gridSize12);
            }
        }
        &--13 {
            @nest [data-layout=main] & {}
            padding-right: var(--gridGutter);
            width: var(--gridSize3);
        }
        &--14 {
            @nest [data-layout=main] & {
                padding-right: var(--gridGutter);
                width: var(--gridSize6);
            }
        }
        &--15 {
            @nest [data-layout=main] & {
                margin-left: auto;
                width: var(--gridSize2);
            }
        }
    }
}