
/*TODO: провести рефакторинг сетки */

 :root {
    --gridGutter: 20px;
    --gridSize1: calc((100%/12)*1);
    --gridSize2: calc((100%/12)*2);
    --gridSize3: calc((100%/12)*3);
    --gridSize4: calc((100%/12)*4);
    --gridSize5: calc((100%/12)*5);
    --gridSize6: calc((100%/12)*6);
    --gridSize7: calc((100%/12)*7);
    --gridSize8: calc((100%/12)*8);
    --gridSize9: calc((100%/12)*9);
    --gridSize10: calc((100%/12)*10);
    --gridSize11: calc((100%/12)*11);
    --gridSize12: 100%;
}

.grid {
    position: relative;
    width: 100%;
    @media screen and (--mobile) {
        background-image: none !important;
    }
    &--type {
        &--main {
            background-image: url(../images/grid-1.jpg), url(../images/grid-2.jpg);
            background-position: center bottom, center top;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        &--inner {
            background-image: url(../images/grid-2.jpg);
            background-position: center top;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        &--footer {
            background-color: #333333;
        }
    }
}

.grid__container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1640px;
    @media screen and (--tablet) {
        width: 980px;
    }
    @media screen and (--mobile) {
        padding: 0 10px;
        width: 320px;
    }
    &--type {
        &--main {
            padding-top: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        &--inner {
            padding-bottom: 80px;
            background-color: #fff;
            @media screen and (--mobile) {
                padding-bottom: 0;
            }
        }
    }
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    clear: both;
    width: 100%;
    &--positions {
        &--c-fm-fs {
            @nest [data-layout=main] & {
                padding: 96px 0 51px;
                @media screen and (--mobile) {
                    padding: 2rem 0;
                }
            }
            flex-wrap: wrap;
            padding: 2rem 0;
        }
        &--fs-ac-s {}
        &--fr-fb {
            width: calc((100% - var(--gridGutter))/12*9);
        }
        &--nc-a {
            /* padding-bottom: 84px;*/
        }
        &--og-od {
            // padding: 130px 0 140px;
        }
        &--om-op {
            margin-bottom: 43px;
            margin-left: -20px;
            width: calc(100% + 40px);
            @media screen and (--mobile) {
                margin-left: -10px;
                width: calc(100% + 20px);
                margin-bottom: 0;
            }
        }
        &--p-s {}
        &--r-p {}
    }
}

.grid__col {
    &--positions {
        &--fr-fb {
            width: calc((100% - var(--gridGutter))/12*9);
            @media screen and (--mobile) {
                width: 100%;
            }
        }
    }
}