.object-map {
    margin-bottom: 80px;
    width: 100%;
    @media screen and (--mobile) {
        margin-bottom: 40px;
    }
    & [class*="ymaps-2"][class*="-svg-icon"] {
        top: -51px !important;
        left: -28px !important;
        width: 59px !important;
        height: 60px !important;
        background-position: center !important;
        background-size: contain !important;
        background-repeat: no-repeat;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(1)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-1.png) !important;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(2)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-2.png) !important;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(3)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-3.png) !important;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(4)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-4.png) !important;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(5)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-5.png) !important;
    }
    & [class*="ymaps-2"][class*="-placemark-overlay"]:nth-child(6)>[class*="ymaps-2"][class*="-svg-icon"] {
        background-image: url(../images/object-map-6.png) !important;
    }
}

.object-map__title {
    margin-bottom: 2rem;
    width: 100%;
    color: #242525;
    font-size: 48px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 30px;
    }
}

.object-map__widget {
    width: 100%;
    height: 400px;
    @media screen and (--mobile) {
        margin-left: -10px;
        width: calc(100% + 20px);
    }
    & [class*="ymaps-2"][class*="-ground-pane"] {
        filter: grayscale(100%);
    }
}