.footer-menu {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: calc(calc((100%/12)*7) - var(--gridGutter));
    @media screen and (--tablet) {
        flex-wrap: wrap;
        margin-left: 0;
        width: calc(calc((100%/12)*6) - var(--gridGutter));
    }
    @media screen and (--mobile) {
        margin-bottom: 40px;
        width: 100%;
    }
}

.footer-menu__list {
    flex-grow: 0;
    width: calc(100% / 6);
    list-style: none;
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter)*2)/3);
    }
    @media screen and (--mobile) {
        display: none;
    }
    &:nth-child(2) {
        @media screen and (--tablet) {
            display: none;
        }
    }
    &:nth-child(3) {
        margin-left: auto;
        @media screen and (--tablet) {
            margin-left: 0;
        }
    }
    &:nth-child(4) {
        width: calc(100% / 6 * 2);
    }
    &--mobile {
        display: none;
        width: 100%;
        @media screen and (--mobile) {
            display: block;
        }
    }
}

.footer-menu__item {
    display: block;
}

.footer-menu__link {
    display: block;
    padding: 5px;
    color: #eeeeee;
    font-size: 13px;
    &:hover {
        color: #ffffff;
    }
    &--title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: normal;
        font-size: 12px;
        font-family: GothamProMedium;
        line-height: 1.5;
        @media screen and (--mobile) {
            padding: 10px 5px;
        }
    }
    &--mobile {
        display: none;
        @media screen and (--tablet) {
            display: block;
            margin-top: 1em;
        }
    }
}