<!-- footer-menu -->
<nav class="footer-menu">

    <ul class="footer-menu__list">
        <li class="footer-menu__item">
            <a href="/pages/3.objects.html" class="footer-menu__link footer-menu__link--title">объекты</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/4.object.html" class="footer-menu__link">ЖК Зенит</a>
        </li>
        <a href="/pages/5.commercial-realty.html" class="footer-menu__link footer-menu__link--title footer-menu__link--mobile">
            Коммерческая
            <br>недвижимость
        </a>
    </ul>

    <ul class="footer-menu__list">
        <li class="footer-menu__item">
            <a href="/pages/5.commercial-realty.html" class="footer-menu__link footer-menu__link--title">
                Коммерческая
                <br>недвижимость
            </a>
        </li>
    </ul>

    <ul class="footer-menu__list">
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link footer-menu__link--title">компания</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/2.about-company.html" class="footer-menu__link">О компании</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/6.news.html" class="footer-menu__link">Новости</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/7.actions.html" class="footer-menu__link">Акции</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/7.actions.html" class="footer-menu__link">Акции</a>
            <a href="#" class="footer-menu__link">Контакты</a>
        </li>
    </ul>

    <ul class="footer-menu__list">
        <li class="footer-menu__item">
            <a href="/pages/9.filter.html" class="footer-menu__link footer-menu__link--title">покупка жилья</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/6.1.new.html" class="footer-menu__link">Ипотека</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/6.1.new.html" class="footer-menu__link">Военная ипотека</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/6.1.new.html" class="footer-menu__link">Материнский капитал</a>
        </li>
    </ul>

    <ul class="footer-menu__list footer-menu__list--mobile">
        <li class="footer-menu__item">
            <a href="/pages/3.objects.html" class="footer-menu__link footer-menu__link--title">объекты</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/5.commercial-realty.html" class="footer-menu__link footer-menu__link--title">Коммерческая недвижимость</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/2.about-company.html" class="footer-menu__link footer-menu__link--title">о компании</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/9.filter.html" class="footer-menu__link footer-menu__link--title">покупка жилья</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/6.news.html" class="footer-menu__link footer-menu__link--title">новости</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/7.actions.html" class="footer-menu__link footer-menu__link--title">акции</a>
        </li>
        <li class="footer-menu__item">
            <a href="/pages/8.contacts.html" class="footer-menu__link footer-menu__link--title">контакты</a>
        </li>
    </ul>

</nav>
<!-- /footer-menu  -->