<!-- news-carousel -->
<section class="news-carousel swiper-container">

    <header class="news-carousel__header">
        <strong class="news-carousel__title">Новости</strong>
        <nav class="news-carousel__nav">
            <button type="button" class="news-carousel__nav-btn news-carousel__nav-btn--next"></button>
            <button type="button" class="news-carousel__nav-btn news-carousel__nav-btn--prev"></button>
        </nav>
        <a href="#" class="news-carousel__archive">архив новостей</a>
    </header>

    <div class="news-carousel__items-wrap swiper-wrapper">

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">ПроектПроект Проект Проект “Прибрежный” сдан в эксплуатацию согласно графику</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>
        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>
        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">Внимание клиентов, желающих сделать теплые полы в квартирах</strong>
                <p>Питание прогиба исходным материалом прекращает плейстоцен. Варва длительно сдвигает девонский сброс. Трансгрессия, основываясь большей частью на сейсмических данных, систематически поднимает грабен. </p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

        <a class="news-carousel__item swiper-slide" href="#">
            <img
                alt = "" class = "news-carousel__item-image"
                src = "/assets/images/promo-1.jpg"
                data-fix--ie--object-fit
            >
            <div class="news-carousel__item-text-wrap">
                <time class="news-carousel__item-date">12/01/16</time>
                <strong class="news-carousel__item-title">В основание теннисного корта залили 300 кубометров бетона</strong>
                <p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>
            </div>
        </a>

    </div>

</section>
<!-- /news-carousel  -->