{% macro newsCarouselItem(category, title, text, image) %}
<a class="news-carousel__item swiper-slide" href="/pages/6.1.new.html">
    <img
        alt   = ""
        class = "news-carousel__item-image"
        src   = "/assets/images/news-carousel-i{{ image }}.jpg"
        data-fix--ie--object-fit
    >
    <div class="news-carousel__item-caption">
        <time class="news-carousel__item-date">12/01/16</time>
        <p class="news-carousel__item-category">{{ category }}</p>
        <strong class="news-carousel__item-title">{{ title }}</strong>
        <div class="news-carousel__item-text">{{ text | safe }}</div>
    </div>
</a>
{% endmacro %}

{% macro newsCarouselItemNoText(category, title, image) %}
<a class="news-carousel__item news-carousel__item--no-text swiper-slide" href="/pages/6.1.new.html">
    <img
        alt   = ""
        class = "news-carousel__item-image"
        src   = "/assets/images/news-carousel-i{{ image }}.jpg"
        data-fix--ie--object-fit
    >
    <div class="news-carousel__item-caption">
        <time class="news-carousel__item-date">12/01/16</time>
        <p class="news-carousel__item-category">{{ category }}</p>
        <strong class="news-carousel__item-title">{{ title }}</strong>
    </div>
</a>
{% endmacro %}

<!-- news-carousel -->
<section class="news-carousel swiper-container">

    <header class="news-carousel__header">
        <strong class="news-carousel__title">Новости</strong>
        <nav class="news-carousel__nav">
            <button type="button" class="news-carousel__nav-btn news-carousel__nav-btn--prev"></button>
            <button type="button" class="news-carousel__nav-btn news-carousel__nav-btn--next"></button>
        </nav>
        <a href="/pages/6.news.html" class="news-carousel__archive">архив новостей</a>
    </header>

    <div class="news-carousel__items-wrap news-carousel__items-wrap--mobile">

        {{ newsCarouselItemNoText(
            'ЖК “ЗЕНИТ”',
            'Проект “Прибрежный” сдан в эксплуатацию согласно графику',
            '1'
        ) }}

        {{ newsCarouselItem(
            'Новости компании',
            'В основание теннисного корта залили 300 кубометров бетона',
            '<p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>',
            '2'
        ) }}

    </div>

    <div class="news-carousel__items-wrap swiper-wrapper">

        {{ newsCarouselItemNoText(
            'ЖК “ЗЕНИТ”',
            'Проект “Прибрежный” сдан в эксплуатацию согласно графику',
            '1'
        ) }}

        {{ newsCarouselItem(
            'Новости компании',
            'В основание теннисного корта залили 300 кубометров бетона',
            '<p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>',
            '2'
        ) }}

        {{ newsCarouselItem(
            'ЖК “ЗЕНИТ”',
            'Внимание клиентов, желающих сделать теплые полы в квартирах',
            '<p>Питание прогиба исходным материалом прекращает плейстоцен. Варва длительно сдвигает девонский сброс. Трансгрессия, основываясь большей частью на сейсмических данных, систематически поднимает грабен. </p>',
            '3'
        ) }}

        {{ newsCarouselItem(
            'Новости компании',
            'ПроектПроект Проект Проект “Прибрежный” сдан в эксплуатацию согласно графику',
            '<p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>',
            '4'
        ) }}

        {{ newsCarouselItem(
            'ЖК “ЗЕНИТ”',
            'В основание теннисного корта залили 300 кубометров бетона',
            '<p>В рамках реализации проекта строительства современного теннисного корта для резиденции «Крымский бриз», в котором наша компания выступает генеральным подрядчиком, завершена заливка фундамента.</p>',
            '5'
        ) }}

        {{ newsCarouselItem(
            'ЖК “ЗЕНИТ”',
            'Внимание клиентов, желающих сделать теплые полы в квартирах',
            '<p>Питание прогиба исходным материалом прекращает плейстоцен. Варва длительно сдвигает девонский сброс. Трансгрессия, основываясь большей частью на сейсмических данных, систематически поднимает грабен. </p>',
            '6'
        ) }}

        {{ newsCarouselItem(
            'ЖК “ЗЕНИТ”',
            'Внимание клиентов, желающих сделать теплые полы в квартирах',
            '<p>Питание прогиба исходным материалом прекращает плейстоцен. Варва длительно сдвигает девонский сброс. Трансгрессия, основываясь большей частью на сейсмических данных, систематически поднимает грабен. </p>',
            '7'
        ) }}

        {{ newsCarouselItem(
            'ЖК “ЗЕНИТ”',
            'Внимание клиентов, желающих сделать теплые полы в квартирах',
            '<p>Питание прогиба исходным материалом прекращает плейстоцен. Варва длительно сдвигает девонский сброс. Трансгрессия, основываясь большей частью на сейсмических данных, систематически поднимает грабен. </p>',
            '8'
        ) }}

    </div>

</section>
<!-- /news-carousel  -->