.news-carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
    margin-left: -4px;
    padding: 0 4px 1rem;
    width: calc(calc(100%/12*9) + 8px - var(--gridGutter));
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter)*2)/3*2 + var(--gridGutter) + 8px);
    }
    @media screen and (--mobile) {
        margin-bottom: 40px;
        width: 100%;
    }
}

.news-carousel__header {
    display: flex;
    align-items: center;
    padding: 26px 0 26px;
    min-height: 78px;
}

.news-carousel__title {
    margin-right: 22px;
    color: #242525;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    font-family: GothamProBold;
}

.news-carousel__nav {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 30px;
    border: solid 1px #d9d9d9;
    border-radius: 15px;
    @media screen and (--mobile) {
        display: none;
    }
}

.news-carousel__nav-btn {
    width: 38px;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        background-color: #D9D9D9;
    }
    &--next {
        width: 39px;
        border-right: 1px solid #d9d9d9;
        background-image: url(../images/news-carousel-1.svg);
    }
    &--prev {
        background-image: url(../images/news-carousel-2.svg);
    }
}

.news-carousel__archive {
    margin-left: auto;
    color: #9b9b9b;
    font-weight: normal;
    font-size: 10px;
    font-family: GothamProBold;
    text-transform: uppercase;
    &:hover {
        color: #0062CD;
    }
}

.news-carousel__items-wrap {
    display: flex;
    width: 100%;
    height: auto;
    transition-timing-function: ease !important;
    @media screen and (--mobile) {
        display: none;
    }
    &--mobile {
        display: none;
        @media screen and (--mobile) {
            display: block;
        }
    }
}

.news-carousel__item {
    display: block;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0s;
    @media screen and (--mobile) {
        height: auto;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.news-carousel__item-image {
    width: 100%;
    height: 180px;
    object-position: center;
    object-fit: cover;
    @media screen and (--mobile) {
        display: none;
    }
}

.news-carousel__item-caption {
    padding: 10px;
    width: 100%;
}

.news-carousel__item-date {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-size: 11px;
    line-height: 2.18;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.news-carousel__item-category {
    display: none;
    color: #0062cd;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    font-family: GothamProBold;
    line-height: 2.4;
    @media screen and (--mobile) {
        display: block;
    }
}

.news-carousel__item-title {
    @nest .news-carousel__item:hover & {
        color: #0062CD;
    }
    display: block;
    margin-bottom: 24px;
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    font-family: GothamProMedium;
    line-height: 1.2;
    transition-duration: var(--transitionDuration);
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.news-carousel__item-text {
    width: 100%;
    @media screen and (--mobile) {
        display: none;
    }
    & p {
        color: #000000;
        font-size: 14px;
        line-height: 1.5;
    }
}