<!-- contacts -->
<section class="contacts">

<figure class="contacts__item">
    <div class="contacts__item-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Lh2VH07AR94VzzxpVu_5AnnIe3BPlWZP&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    </div>
    <figcaption class="contacts__item-caption">
        <strong class="contacts__item-title">Севастополь</strong>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Адрес офиса:</strong>
            <span class="contacts__item-part-text">ул. Ковпака, 3 строение В</span>
            <span class="contacts__item-part-text">Пн. – Пт.: с 9:00 до 18:00</span>
        </div>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Отдел продаж:</strong>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
        </div>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Отдел снабжения:</strong>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">info@crimeagrad.ru</span>
        </div>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Отдел рекламы:</strong>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">pr@crimeagrad.ru</span>
        </div>
    </figcaption>
</figure>

<figure class="contacts__item">
    <div class="contacts__item-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Lh2VH07AR94VzzxpVu_5AnnIe3BPlWZP&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    </div>
    <figcaption class="contacts__item-caption">
        <strong class="contacts__item-title">Ялта</strong>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Адрес офиса:</strong>
            <span class="contacts__item-part-text">ул. Ковпака, 3 строение В</span>
            <span class="contacts__item-part-text">Пн. – Пт.: с 9:00 до 18:00</span>
        </div>
        <div class="contacts__item-part">
            <strong class="contacts__item-part-title">Отдел продаж:</strong>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
            <span class="contacts__item-part-text">+7 (000) 000-00-00</span>
        </div>
    </figcaption>
</figure>

</section>
<!-- /contacts  -->