{% extends "layouts/main.htm" %}

{% set page  = "home" %}
{% set title = "Главная страница" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}

{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}

{% block promo %}{% include "partials/promo/promo.htm" %}{% endblock %}

{% block sales %}{% include "partials/sales/sales.htm" %}{% endblock %}

{% block news_carousel %}{% include "partials/news-carousel/news-carousel.htm" %}{% endblock %}

{% block actions %}{% include "partials/actions/actions.htm" %}{% endblock %}

{% block form_subscribe %}{% include "partials/form-subscribe/form-subscribe.htm" %}{% endblock %}

{% block about_company %}{% include "partials/about-company/about-company.htm" %}{% endblock %}

{% block slogan %}{% include "partials/slogan/slogan.htm" %}{% endblock %}

{% block reviews %}{% include "partials/reviews/reviews.htm" %}{% endblock %}

{% block partners %}{% include "partials/partners/partners.htm" %}{% endblock %}

{% block seo %}{% include "partials/seo/seo.htm" %}{% endblock %}

{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}

{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}

{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}