{% extends "layouts/sertificates.htm" %}

{% set page  = "sertificates" %}
{% set title = "Сертификаты" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}

{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}

{% block breadcrumbs %}{% include "partials/breadcrumbs/breadcrumbs.htm" %}{% endblock %}

{% block page_title %}{% include "partials/page-title/page-title.htm" %}{% endblock %}

{% block sidebar_menu %}{% include "partials/sidebar-menu/sidebar-menu.htm" %}{% endblock %}

{% block inner_slogan %}{% include "partials/inner-slogan/inner-slogan.htm" %}{% endblock %}

{% block sertifacates %}{% include "partials/sertificates/sertificates.htm" %}{% endblock %}

{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}

{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}

{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}