{% extends "layouts/object-room.htm" %}

{% set page  = "object-room" %}
{% set title = "Выберите квартиру" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}

{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}

{% block object_menu %}{% include "partials/object-menu/object-menu.htm" %}{% endblock %}

{% block choose_room %}{% include "partials/choose-room/choose-room.htm" %}{% endblock %}

{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}

{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}

{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}