{% extends "layouts/object.htm" %}

{% set page  = "object" %}
{% set title = "Объект" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}

{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}

{% block object_menu %}{% include "partials/object-menu/object-menu.htm" %}{% endblock %}

{% block object_promo %}{% include "partials/object-promo/object-promo.htm" %}{% endblock %}

{% block object_text %}{% include "partials/object-text/object-text.htm" %}{% endblock %}

{% block object_table %}{% include "partials/object-table/object-table.htm" %}{% endblock %}

{% block object_map %}{% include "partials/object-map/object-map.htm" %}{% endblock %}

{% block object_gallery %}{% include "partials/object-gallery/object-gallery.htm" %}{% endblock %}

{% block object_documents %}{% include "partials/object-documents/object-documents.htm" %}{% endblock %}

{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}

{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}

{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}