{% extends "layouts/commercial-object.htm" %}

{% set page  = "commercial-object" %}
{% set title = "ТЦ “Красноармейский”" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}

{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}

{% block breadcrumbs %}{% include "partials/breadcrumbs/breadcrumbs.htm" %}{% endblock %}

{% block page_title %}{% include "partials/page-title/page-title--with-city.htm" %}{% endblock %}

{% block commercial_object_gallery %}{% include "partials/commercial-object-gallery/commercial-object-gallery.htm" %}{% endblock %}

{% block commercial_object_content %}{% include "partials/commercial-object-content/commercial-object-content.htm" %}{% endblock %}

{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}

{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}

{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}
