{% extends "layouts/news.htm" %}

{% set page  = "news" %}
{% set title = "Новости" %}

{# == #}

{% block header %}{% include "partials/header/header.htm" %}{% endblock %}
{% block main_menu %}{% include "partials/main-menu/main-menu.htm" %}{% endblock %}
{% block breadcrumbs %}{% include "partials/breadcrumbs/breadcrumbs.htm" %}{% endblock %}
{% block page_title %}{% include "partials/page-title/page-title.htm" %}{% endblock %}
{% block news %}{% include "partials/news/news.htm" %}{% endblock %}
{% block form_subscribe %}{% include "partials/form-subscribe/form-subscribe.htm" %}{% endblock %}
{% block copy %}{% include "partials/copy/copy.htm" %}{% endblock %}
{% block footer_menu %}{% include "partials/footer-menu/footer-menu.htm" %}{% endblock %}
{% block footer_social %}{% include "partials/footer-social/footer-social.htm" %}{% endblock %}