.partners-carousel {
    margin: 0 auto 100px;
    width: calc((100% - var(--gridGutter))/12*7);
    @media screen and (--tablet) {
        width: 100%;
    }
    @media screen and (--mobile) {
        margin-bottom: 2rem;
    }
}

.partners-carousel__title {
    margin-bottom: 50px;
    width: 100%;
    color: #242525;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 18px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.partners-carousel__background {
    position: relative;
    width: 100%;
    &::after {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 0;
        width: calc(100% - 20px);
        height: 100%;
        border: solid 1px #e9e9e9;
        border-radius: 10px;
        background-color: #efefef;
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.08);
        content: '';
        @media screen and (--mobile) {
            display: none;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: solid 1px #e9e9e9;
        border-radius: 10px;
        background-color: #f7f8fa;
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.08);
        content: '';
        @media screen and (--mobile) {
            border: none;
            background-color: transparent;
            box-shadow: none;
        }
    }
    &>* {
        position: relative;
        z-index: 2;
    }
}

.partners-carousel__wrapper {
    overflow: hidden;
    width: 100%;
}

.partners-carousel__items-wrap {}

.partners-carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: 162px;
    background-color: #f7f8fa;
    @media screen and (--mobile) {
        padding: 12px;
        background-color: transparent;
    }
}

.partners-carousel__item-image {
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: darken;
}

.partners-carousel__button {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 21px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    @media screen and (--mobile) {
        display: none;
    }
    &--next {
        right: -24px;
        background-image: url(../images/partners-carousel-1.svg);
    }
    &--prev {
        left: -24px;
        background-image: url(../images/partners-carousel-2.svg);
    }
}

.partners-carousel__pagination {
    justify-content: center;
    width: 100%;
    display: none;
    @media screen and (--mobile) {
        display: flex;
    }
    & .swiper-pagination-bullet {
        margin: 0 5px;
        width: 10px;
        height: 10px;
        background-color: #CCCCCC;
        cursor: pointer;
        transition-duration: var(--transitionDduration);
        &.swiper-pagination-bullet-active {
            background-color: #000;
        }
    }
}