<!-- object-text -->
<article class="object-text">
    <header class="object-text__title">
        ЖК «Зенит» - это новый строительный проект с недорогими квартирами от 1,8 млн рублей за 34 м, находящийся в самом сердце Ялты.
    </header>
    <div class="object-text__content typography">
        <p>Жилой комплекс «Зенит» – это начало нового, современного района с уже развитой инфраструктурой. Рядом с домом есть все, что нужно для жизни. В шаговой доступности детский сад, школа, магазины питания, супермаркет «Novus», любимое всеми детьми города место развлечений – Детский городок «Лукоморье» и частный зоопарк. А если вы практикуете утренние пробежки на открытом воздухе, то непременно оцените и эти возможности района: чистый воздух, тенистые тропинки и запах хвои обеспечат отличное настроение на весь день. “Зенит” идеально подходит для комфортного проживания всей семьи.</p>
        <p>Уютные однокомнатные квартиры от 35 квадратных метров и двухкомнатные квартиры от 58 метров, порадуют клиентов своей эргономичной планировкой. Дополнительным бонусом будет свежий воздух, отличный вечерний вид на город, возможность совершать семейные прогулки или устраивать пикники среди сосен.s</p>
    </div>
</article>
<!-- /object-text  -->