<!-- object-table -->
<table class="object-table">
    <tbody>
        <tr>
            <th>Класс:</th>
            <td>Комфорт</td>
        </tr>
        <tr>
            <th>Домов:</th>
            <td>4</td>
        </tr>
        <tr>
            <th>Этажность:</th>
            <td>16</td>
        </tr>
        <tr>
            <th>Технология:</th>
            <td>монолитно-каркасная</td>
        </tr>
        <tr>
            <th>Стены:</th>
            <td>газоблок</td>
        </tr>
        <tr>
            <th>Утепление:</th>
            <td>минеральная вата</td>
        </tr>
        <tr>
            <th>Отопление:</th>
            <td>централизованное</td>
        </tr>
        <tr>
            <th>Потолки:</th>
            <td>2,7</td>
        </tr>
        <tr>
            <th>Квартир:</th>
            <td>700</td>
        </tr>
        <tr>
            <th>Паркинг:</th>
            <td>Подземный</td>
        </tr>
    </tbody>
</table>
<!-- /object-table  -->