.object-table {
    margin-bottom: 57px;
    width: calc((100%/12)*3);
    color: #000000;
    font-size: 13px;
    line-height: 1.23;
    @media screen and (--tablet) {
       width: calc((100% - var(--gridGutter))/12*4)
    }
    @media screen and (--mobile) {
        display: none;
    }
    & tbody {}
    & tr {
        border-bottom: 1px solid #fff;
        background-color: #fafafa;
    }
    & th {
        padding: 10px;
        text-align: left;
    }
    & td {
        padding: 10px;
    }
}