.advantages {
    margin-bottom: 100px;
    width: 100%;
    @media screen and (--tablet) {
        margin-bottom: 40px;
    }
}

.advantages__title {
    margin-bottom: 50px;
    width: 100%;
    color: #242525;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    font-family: GothamProMedium;
}

.advantages__items-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.advantages__item {
    padding: 120px 22px 40px;
    width: 25%;
    background-position: 22px 44px;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        width: 50%;
    }
    @media screen and (--mobile) {
        width: 100%;
        background-position: 15px 20px;
        padding-top: 82px;
    }
    &--1 {
        background-color: #ffeea1;
        background-image: url(../images/advantages-1.svg);
        color: #000;
    }
    &--2 {
        background-color: #0062cd;
        background-image: url(../images/advantages-2.svg);
        color: #fff;
    }
    &--3 {
        background-color: #f3f3f3;
        background-image: url(../images/advantages-3.svg);
        color: #000;
        @media screen and (--tablet) {
            order: 4;
        }
        @media screen and (--mobile) {
            order: 3;
        }
    }
    &--4 {
        background-color: #0062cd;
        background-image: url(../images/advantages-4.svg);
        color: #fff;
        @media screen and (--tablet) {
            order: 3;
        }
        @media screen and (--mobile) {
            order: 4;
        }
    }
}

.advantages__item-title {
    display: block;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    font-family: GothamProMedium;
    line-height: 1.33;
}

.advantages__item-caption {
    font-size: 14px;
    line-height: 1.5;
}