<!-- advantages -->
<section class="advantages">

    <header class="advantages__title">преимущества</header>

    <div class="advantages__items-wrap">

        <figure class="advantages__item advantages__item--1">
            <strong class="advantages__item-title">Проверенная надежность и качество жилья</strong>
            <figcaption class="advantages__item-caption">В строительстве мы придерживаемся мировых стандартов. Это значит, что приобретая жилье сегодня, завтра в нем также комфортно смогут жить ваши дети.</figcaption>
        </figure>

        <figure class="advantages__item advantages__item--2">
            <strong class="advantages__item-title">прозрачная сделка</strong>
            <figcaption class="advantages__item-caption">После перехода на российское законодательство, компанией уже было реализовано несколько сотен новых квартир в Севастополе. Это дало нам опыт, а вам уверенность, что сделка будет легитимной и полностью прозрачной.</figcaption>
        </figure>

        <figure class="advantages__item advantages__item--3">
            <strong class="advantages__item-title">Нет скрытых комиссий</strong>
            <figcaption class="advantages__item-caption">Мы не посредники. Мы не зарабатываем искусственно завышая цену объекта. Мы застройщики. Это значит, что приобретая квартиру у нас, вы гарантируете себе самую низкую цену.</figcaption>
        </figure>

        <figure class="advantages__item advantages__item--4">
            <strong class="advantages__item-title">недвижимость в срок</strong>
            <figcaption class="advantages__item-caption">Крымград - это группа компаний, куда входят предприятия, осуществляющие деятельность в разных сферах, что позволяет инвестировать в строительство за счет собственных средств. Это значит, что вы получаете максимальную гарантию, что выбранный вами объект будет сдан в срок.</figcaption>
        </figure>

    </div>
</section>
<!-- /advantages  -->