<!-- object-documents -->
<section class="object-documents" id="object-documents">

    <header class="object-documents__title">Документы</header>

    <div class="object-documents__items-wrap">
        <a href="#" class="object-documents__item object-documents__item--icon--1">Разрешение на строительство</a>
        <a href="#" class="object-documents__item object-documents__item--icon--1">Техусловия на газоснабжение</a>
        <a href="#" class="object-documents__item object-documents__item--icon--2">Генплан</a>
        <a href="#" class="object-documents__item object-documents__item--icon--1">Техусловия на свет</a>
        <a href="#" class="object-documents__item object-documents__item--icon--1">Техусловия на водоснабжение</a>
        <a href="#" class="object-documents__item object-documents__item--icon--1">Проектная декларация</a>
    </div>

</section>
<!-- /object-documents  -->