.object-documents {
    width: calc((100% - var(--gridGutter))/12*4);
    @media screen and (max-width: 1640px) {
       width: 100%;
    }
}

.object-documents__title {
    margin-bottom: 146px;
    color: #242525;
    font-weight: 300;
    font-size: 48px;
    @media screen and (max-width: 1640px) {
       margin-bottom: 80px;
    }
}

.object-documents__items-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    background-color: #ffffff;
}

.object-documents__item {
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding-right: 20px;
    padding-left: 60px;
    width: 50%;
    background-position: left center;
    background-repeat: no-repeat;
    color: #0062cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 1.29;
    min-height: 32px;
    @media screen and (max-width: 1640px) {
       width: calc(100% / 3);
    }
    &--icon {
        &--1 {
            background-image: url(../images/object-documents-1.png);
        }
        &--2 {
            background-image: url(../images/object-documents-2.png);
        }
    }
}