.object-documents {
    width: calc((100% - var(--gridGutter))/12*4);
    margin-bottom: 140px;
    @media screen and (--tablet) {
        width: 100%;
        padding-top: 0;
    }
    @media screen and (--mobile) {
        margin-bottom: 60px;
    }
}

.object-documents__title {
    margin-bottom: 146px;
    color: #242525;
    font-weight: 300;
    font-size: 48px;
    @media screen and (--tablet) {
        margin-bottom: 80px;
    }
    @media screen and (--mobile) {
        font-size: 30px;
        margin-bottom: 2rem;
    }
}

.object-documents__items-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    background-color: #ffffff;
    @media screen and (--mobile) {
        padding: 0;
    }
}

.object-documents__item {
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding-right: 20px;
    padding-left: 60px;
    width: 50%;
    background-position: left center;
    background-repeat: no-repeat;
    color: #0062cd;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 1.29;
    min-height: 32px;
    &:hover {
        color: #252525;
    }
    @media screen and (--tablet) {
        width: calc(100% / 3);
    }
    @media screen and (--mobile) {
        width: 100%;
        margin: 12px 0;
    }
    &--icon {
        &--1 {
            background-image: url(../images/object-documents-1.png);
        }
        &--2 {
            background-image: url(../images/object-documents-2.png);
        }
    }
}