<!-- reviews -->
<section class="reviews">

    <header class="reviews__title">отзывы наших клиентов</header>

    <ul class="reviews__nav">
        <li class="reviews__nav-item" style="background-image: url(/assets/images/reviews-2.jpg)"></li>
        <li class="reviews__nav-item" style="background-image: url(/assets/images/reviews-3.jpg)"></li>
        <li class="reviews__nav-item" style="background-image: url(/assets/images/reviews-4.jpg)"></li>
        <li class="reviews__nav-item" style="background-image: url(/assets/images/reviews-5.jpg)"></li>
    </ul>

    <div class="reviews__tabs-wrap">

        <figure class="reviews__tab">
            <p>Взял однокомнатную квартиру в ЖК Ялтинский от “Крымград” и так она мне нравится, планировка просто супер. Общяя площадь почти 37 метров. Больше всего меня порадовала прихожая 7,5 метров. Там прекрасно встанет гардеробная и не будет проблемы куда убирать вещи, не люблю большое количество мебели в квартире.</p>
            <strong class="reviews__tab-name">Иван Кондратьев</strong>
        </figure>

        <figure class="reviews__tab">
            <p>Взял однокомнатную квартиру в ЖК Ялтинский от “Крымград” и так она мне нравится, планировка просто супер.</p>
            <strong class="reviews__tab-name">Иван Кондратьев</strong>
        </figure>

        <figure class="reviews__tab">
            <p>Взял однокомнатную квартиру в ЖК Ялтинский от “Крымград” и так она мне нравится, планировка просто супер. Общяя площадь почти 37 метров. Больше всего меня порадовала прихожая 7,5 метров.</p>
            <strong class="reviews__tab-name">Иван Кондратьев</strong>
        </figure>

        <figure class="reviews__tab">
            <p>Взял однокомнатную квартиру в ЖК Ялтинский от “Крымград” и так она мне нравится, планировка просто супер. Общяя площадь почти 37 метров. Больше всего меня порадовала прихожая 7,5 метров. Там прекрасно встанет гардеробная и не будет проблемы куда убирать вещи, не люблю большое количество мебели в квартире. Там прекрасно встанет гардеробная и не будет проблемы куда убирать вещи, не люблю большое количество мебели в квартире.</p>
            <strong class="reviews__tab-name">Иван Кондратьев</strong>
        </figure>

    </div>

</section>
<!-- /reviews  -->