.reviews {
    position: relative;
    padding: 30px 60px;
    width: calc(var(--gridSize7) - var(--gridGutter));
    @media screen and (max-width: 1640px) {
       width: 100%;
    }
    &::after {
        position: absolute;
        top: -10px;
        left: 10px;
        z-index: 0;
        width: calc(100% - 20px);
        height: 100%;
        border: solid 1px #e9e9e9;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.08);
        content: '';
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: solid 1px #e9e9e9;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.08);
        content: '';
    }
    &>* {
        position: relative;
        z-index: 2;
    }
}

.reviews__title {
    margin-bottom: 36px;
    color: #242525;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: GothamProBold;
}

.reviews__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    width: 100%;
    list-style: none;
}

.reviews__nav-item {
    position: relative;
    width: 110px;
    height: 110px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition-duration: .5s;
    &.active {
        border-color: #ffd101;
        &::before {
            opacity: 1;
        }
    }
    &:hover {
        border-color: #ffd101;
    }
    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../images/reviews-1.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}

.reviews__tabs-wrap {
    width: 100%;
}

.reviews__tab {
    color: #252525;
    font-size: 16px;
    font-family: GothamPro;
    line-height: 1.5;
    & p {
        margin-bottom: 1em;
    }
}

.reviews__tab-name {
    font-family: GothamProBold;
}