.about-company {
    width: calc((100% - var(--gridGutter)*2)/12*5);
    background-image: url(../images/about-company-1.svg);
    background-position: 30px 0;
    background-repeat: no-repeat;
    padding-left: 130px;
    padding-right: 60px;
    padding-top: 34px;
    margin-bottom: 100px;
    @media screen and (--tablet) {
       width: calc(100% - 390px);
       background-position: left top;
       padding-left: 90px;
       padding-right: 0;
    }
    @media screen and (--mobile) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 24px;
        margin-bottom: 40px;
    }
}

.about-company__title {
    font-family: GothamProBold;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.36;
    color: #252525;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.about-company__text {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 30px;
}

.about-company__readmore {
    font-family: GothamProBold;
    font-size: 12px;
    font-weight: normal;
    color: #0062cd;
    text-transform: uppercase;
}