<!-- about-company -->
<section class="about-company">
    <header class="about-company__title">Квартиры, в которые хочется возвращаться</header>
    <p class="about-company__text">Мы строим дома, в которых по-настоящему приятно жить. Строим, всегда соблюдая сроки и выдерживая качество на высшем уровне. Воплощаем передовые технологии и не боимся современных дизайнерских решений. Создаем жильё для живых людей, а не для глянцевых страниц.</p>
    <a href="/pages/2.about-company.html" class="about-company__readmore">подробнее о нашей компании</a>
</section>
<!-- /about-company  -->