.inner-slogan {
    width: calc(var(--gridSize8));
    font-size: 26px;
    line-height: 1.38;
    color: #000000;
    background-image: url(../images/inner-slogan.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 21px 0 40px;
    margin-bottom: 94px;
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter))/12*9);
    }
    @media screen and (--mobile) {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
    }
}