.object-promo {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 88px 20px;
    width: var(--gridSize10);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        width: calc(100%/12*9);
        padding-right: 176px;
    }
    @media screen and (--mobile) {
        width: 100%;
        padding: 230px 10px 60px;
    }
}

.object-promo__title {
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 36px;
    &::before {
        position: absolute;
        top: -1rem;
        left: 0;
        display: block;
        width: 140px;
        height: 5px;
        background-color: #ffffff;
        content: '';
    }
    @media screen and (--mobile) {
        font-size: 24px;
    }
}

.object-promo__date {
    position: absolute;
    right: 339px;
    bottom: 61px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #252525;
    background-image: url(../images/object-promo-1.svg);
    background-position: center 30px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.45;
    @media screen and (--tablet) {
        top: 65px;
        right: 18px;
        bottom: auto;
    }
    @media screen and (--mobile) {
        display: none;
    }
}

.object-promo__product-link {
    position: absolute;
    right: 134px;
    bottom: 61px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fb9b2a;
    background-image: url(../images/object-promo-2.svg);
    background-position: center 30px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.45;
    @media screen and (--tablet) {
        right: 18px;
        bottom: 65px;
    }
    @media screen and (--mobile) {
        display: none;
    }
}