.form-subscribe {
    @nest [data-layout=news] & {
        align-self: flex-start;
        margin-top: 37px;
        width: calc((100% - var(--gridGutter))/12*3);
        @media screen and (--tablet) {
            width: calc((100% - var(--gridGutter))/12*4);
        }
        @media screen and (--mobile) {
            display: none;
        }
    }
    @nest [data-layout=actions] & {
        align-self: flex-start;
        width: calc((100% - var(--gridGutter))/12*3);
        @media screen and (--tablet) {
            width: calc((100% - var(--gridGutter))/12*4);
        }
    }
    margin-bottom: 100px;
    padding: 25px 64px 25px 25px;
    width: calc((100% - var(--gridGutter)*2)/12*3);
    background-color: rgba(0, 98, 205, .9);
    @media screen and (--tablet) {
        width: 360px;
    }
    @media screen and (--mobile) {
        display: none;
    }
}

.form-subscribe__title {
    margin-bottom: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: GothamProBold;
    line-height: 1.2;
}

.form-subscribe__description {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
}

.form-subscribe__input {
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 4px;
    background-color: #3988dd;
    color: #ffffff;
    font-size: 18px;
    transition-duration: .5s;
    &:focus {
        background-color: #4D9AEF;
        &::-webkit-input-placeholder {
            color: transparent;
        }
        &::-moz-placeholder {
            color: transparent;
        }
        &:-moz-placeholder {
            color: transparent;
        }
        &:-ms-input-placeholder {
            color: transparent;
        }
    }
    &::-webkit-input-placeholder {
        color: #ffffff;
    }
    &::-moz-placeholder {
        color: #ffffff;
    }
    &:-moz-placeholder {
        color: #ffffff;
    }
    &:-ms-input-placeholder {
        color: #ffffff;
    }
}

.form-subscribe__send-btn {
    padding: 0 1em;
    width: 100%;
    border: solid 1px #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 53px;
    text-transform: uppercase;
    &:hover {
        background-color: #fff;
        color: #252525;
    }
}