<!-- form-subscribe -->
<form
    action = "#"
    class  = "form-subscribe"
    title  = ""
    data-form
>
    <header class="form-subscribe__title">рассылка</header>
    <p class="form-subscribe__description">Подпишитесь и будьте вкурсе всех последних событий и процессов
на наших объектах.</p>
    <input
        class       = "form-subscribe__input"
        id          = "form-subscribe-email"
        name        = "ff1"
        placeholder = "hello@krown.cc"
        type        = "email"
        required
    >
    <button
        class = "form-subscribe__send-btn"
        data-form-btn
    >подписаться</button>
</form>
<!-- /form-subscribe  -->