<!-- promo -->
<section class="promo">

    <span class="promo__city">Ялта</span>

    <strong class="promo__name">Зенит</strong>
    <span class="promo__desc">Жилищный комплекс</span>

    <span class="promo__cost-title">Квартиры в продаже от</span>
    <span class="promo__cost">1 800 000 &#8393;</span>

    <a href="/pages/4.object.html" class="promo__readmore">подробнее об объекте</a>

    <a href="/pages/4.1.object-house.htm" class="promo__select-product">выбрать квартиру</a>

</section>
<!-- /promo  -->