.promo {
    position: relative;
    margin-bottom: 20px;
    padding: 100px 25px 62px;
    width: calc(var(--gridSize9) - var(--gridGutter));
    background-image: url(../images/promo-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;
    @media screen and (--tablet) {
        width: 100%;
    }
    @media screen and (--mobile) {
        padding: 40px 10px 24px;
    }
    &--inner {
        padding: 46px 390px 32px 20px;
        min-height: 480px;
        width: 100%;
        @media screen and (--tablet) {
            padding-right: 300px;
        }
        @media screen and (--mobile) {
            padding-right: 20px;
            padding-bottom: 0;
            min-height: auto;
            margin-bottom: 0;
            width: calc(100% + 20px);
            margin-left: -10px;
        }
    }
}

.promo__city {
    display: block;
    margin-bottom: 52px;
    font-size: 18px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        margin-bottom: 1rem;
        font-size: 16px;
    }
}

.promo__name {
    display: block;
    font-size: 72px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        margin-bottom: 10px;
        font-size: 36px;
    }
}

.promo__desc {
    display: block;
    margin-bottom: 52px;
    font-size: 18px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 12px;
    }
}

.promo__cost-title {
    display: block;
    font-size: 16px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 14px;
    }
}

.promo__cost {
    display: block;
    margin-bottom: 1em;
    font-size: 48px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 30px;
    }
}

.promo__readmore {
    display: inline-block;
    padding: 0 1rem;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #252525;
    text-align: center;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 55px;
    @media screen and (--mobile) {
        margin-bottom: 24px;
        background-color: rgba(251, 155, 42, 0.9);
        color: #fff;
    }
}

.promo__select-product {
    position: absolute;
    top: 179px;
    right: 101px;
    display: flex;
    align-items: flex-end;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fb9b2a;
    background-image: url(../images/promo-2.svg);
    background-position: center 30px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.45;
    @media screen and (--mobile) {
        display: none;
    }
}

.promo__info {
    position: absolute;
    top: 78px;
    right: 145px;
    width: 245px;
    @media screen and (--tablet) {
        right: 55px;
    }
    @media screen and (--mobile) {
        position: relative;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        display: flex;
        margin-left: -20px;
        width: calc(100% + 40px);
    }
}

.promo__info-date {
    padding: 57px 1rem 47px 50px;
    background-color: rgba(156, 118, 90, .6);
    background-image: url(../images/promo-3.svg);
    background-position: 14px 55px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    text-transform: uppercase;
    @media screen and (--mobile) {
        padding: 51px 10px 10px;
        width: 50%;
        background-color: rgba(156, 118, 90, 1);
        background-position: 10px 13px;
    }
}

.promo__info-date-title {
    margin-bottom: 12px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 18px;
    }
}

.promo__info-date-description {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
        font-size: 10px;
    }
}

.promo__info-ready {
    padding: 57px 1rem 47px 50px;
    background-color: rgba(0, 98, 205, .6);
    background-image: url(../images/promo-4.svg);
    background-position: 14px 55px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    text-transform: uppercase;
    @media screen and (--mobile) {
        padding: 51px 10px 10px;
        width: 50%;
        background-color: rgba(0, 98, 205, 1);
        background-position: 10px 13px;
    }
}

.promo__info-ready-title {
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 24px;
    }
}

.promo__info-ready-description {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
        font-size: 10px;
    }
}