.promo {
    position: relative;
    padding: 100px 25px 62px;
    width: calc(var(--gridSize9) - var(--gridGutter));
    background-image: url(../images/promo-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;
    font-family: GothamProBlack;
    &--inner {
        padding: 46px 390px 32px 20px;
        min-height: 480px;
        width: 100%;
    }
}

.promo__city {
    display: block;
    margin-bottom: 52px;
    font-size: 18px;
}

.promo__name {
    display: block;
    font-size: 72px;
}

.promo__desc {
    display: block;
    margin-bottom: 52px;
    font-size: 18px;
}

.promo__cost-title {
    display: block;
    font-size: 16px;
}

.promo__cost {
    display: block;
    margin-bottom: 1em;
    font-size: 48px;
}

.promo__readmore {
    display: inline-block;
    padding: 0 1rem;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #252525;
    text-align: center;
    font-size: 14px;
    font-family: GothamProBold;
    line-height: 55px;
}

.promo__select-product {
    position: absolute;
    top: 179px;
    right: 101px;
    display: flex;
    align-items: flex-end;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fb9b2a;
    background-image: url(../images/promo-2.svg);
    background-position: center 30px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.45;
}

.promo__info {
    position: absolute;
    top: 78px;
    right: 145px;
    widows: 245px;
}

.promo__info-date {
    padding: 57px 1rem 47px 50px;
    background-color: rgba(156, 118, 90, .6);
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: 14px 55px;
    background-repeat: no-repeat;
    background-image: url(../images/promo-3.svg);
}

.promo__info-date-title {
    margin-bottom: 12px;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
    font-family: GothamProBold;
}

.promo__info-date-description {
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
    font-family: GothamProMedium;
}

.promo__info-ready {
    padding: 57px 1rem 47px 50px;
    background-color: rgba(0, 98, 205, .6);
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: 14px 55px;
    background-repeat: no-repeat;
    background-image: url(../images/promo-4.svg);
}

.promo__info-ready-title {
    margin-bottom: 8px;
	color: #ffffff;
	font-weight: bold;
	font-size: 36px;
    font-family: GothamProBold;
}

.promo__info-ready-description {
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
    font-family: GothamProMedium;
}