<!-- promo--inner -->
<section class="promo promo--inner">

    <span class="promo__city">Ялта</span>

    <strong class="promo__name">Зенит</strong>
    <span class="promo__desc">Жилищный комплекс</span>

    <span class="promo__cost-title">Квартиры в продаже от</span>
    <span class="promo__cost">1 800 000 &#8393;</span>

    <a href="#" class="promo__readmore">подробнее об объекте</a>

    <figure class="promo__info">
        <div class="promo__info-date">
            <p class="promo__info-date-title">июль 2018</p>
            <p class="promo__info-date-description">срок сдачи</p>
        </div>
        <div class="promo__info-ready">
            <p class="promo__info-ready-title">35%</p>
            <p class="promo__info-ready-description">готовность объекта</p>
        </div>
    </figure>

</section>
<!-- /promo  -->