<!-- apartment -->

<section
    class = "apartment"
>

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    {% include "partials/choose-table/choose-table.htm" %}

    <div class="apartment__image-wrap">

        <img
            alt   = "Квартира"
            class = "apartment__image"
            src   = "/assets/images/apartment-1.jpg"
        />

    </div>

    <figure class="apartment__buttons-wrap">
        <a
            href                = "#"
            class               = "apartment__button apartment__button--booking"
            data-remodal-target = "lightbox--apartment-order"
        >забронировать
            <span class="apartment__button-mobile-text">&nbsp;квартиру</span>
        </a>
        <a href="#" class="apartment__button apartment__button--download">скачать PDF</a>
    </figure>

</section>

<!-- /apartment  -->