<!-- apartment -->

{% include "partials/choose-table/choose-table.htm" %}

<section
    class = "apartment"
>

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    <choose-table
        v-bind:num     = "131"
        v-bind:area    = "22"
        v-bind:balcony = "15.9"
        v-bind:cost    = "'45424223'.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')"
    ></choose-table>

    <div class="apartment__image-wrap">

        <img
            alt   = "Квартира"
            class = "apartment__image"
            src   = "/assets/images/apartment-1.jpg"
        />

        <figure class="apartment__buttons-wrap">
            <a href="#" class="apartment__button apartment__button--booking">забронировать</a>
            <a href="#" class="apartment__button apartment__button--download">скачать PDF</a>
        </figure>

    </div>

</section>

<!-- /apartment  -->