<!-- apartment -->

<section class="apartment">

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    {% include "partials/choose-table/choose-table.htm" %}

    <div class="apartment__image-wrap">

        <img
            alt    = ""
            class  = "apartment__image"
            src    = "/assets/images/apartment-1.jpg"
        />

        <figure class="apartment__buttons-wrap">
            <a href="#" class="apartment__button apartment__button--booking">забронировать</a>
            <a href="#" class="apartment__button apartment__button--download">скачать PDF</a>
        </figure>

    </div>

</section>

<!-- /apartment  -->