.apartment {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 94px;
    width: calc((100%)/12*10);
    @media screen and (--tablet) {
        width: calc((100%)/12*9);
    }
    @media screen and (--mobile) {
        width: 100%;
        padding: 0;
        flex-direction: column;
        margin-bottom: 50px;
    }
}

.apartment__image-wrap {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-image: url(../images/apartment-view.svg), url(../images/apartment-compas.svg);
    background-position: 50px calc(100% - 50px), calc(100% - 50px) calc(100% - 50px);
    background-size: 140px 133px, 128px 128px;
    background-repeat: no-repeat, no-repeat;
    @media screen and (--tablet) {
        padding-left: 187px;
        background-position: 30px calc(100% - 40px), calc(100% - 30px) calc(100% - 40px);
    }
    @media screen and (--mobile) {
        background-size: 70px 67px, 64px 64px;
        background-position: left calc(100% - 20px), right calc(100% - 20px);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 110px;
    }
}

.apartment__image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    mix-blend-mode: multiply;
}

.apartment__buttons-wrap {
    position: absolute;
    top: 332px;
    left: 0;
    @media screen and (--mobile) {
        position: relative;
        width: 100%;
        top: 0;
        order: 4;
    }
}

.apartment__button {
    display: block;
    padding: 58px 10px 20px;
    width: 100%;
    height: 95px;
    background-position: center 19px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-family: GothamProBold;
    line-height: 1.33;
    @media screen and (--mobile) {
        padding: 20px 10px;
        height: 60px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--booking {
        background-image: url(../images/apartment-b-1.svg);
        background-color: #fc3c2d;
        &:hover {
            background-color: #FF574A;
        }
        @media screen and (--mobile) {
            background-image: none;
        }
    }
    &--download {
        background-image: url(../images/apartment-b-2.svg);
        background-color: #0062cd;
        &:hover {
            background-color: #3395FF;
        }
        @media screen and (--mobile) {
            background-image: none;
        }
    }
}

.apartment__button-mobile-text {
    display: none;
    @media screen and (--mobile) {
        display: inline;
    }
}