.seo {
    display: flex;
    padding: 125px calc((100%/12)*1) 75px;
    width: 100%;
    border-bottom: 10px solid #3f3f3f;
    @media screen and (--tablet) {
        padding: 125px 0 75px calc((100%/12)*1);
    }
    @media screen and (--mobile) {
       display: none;
    }
}

.seo__image {
    position: relative;
    flex-shrink: 0;
    padding-right: var(--gridGutter);
    width: 50%;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
       width: 40%;
    }
    &::before {
        position: absolute;
        top: -70px;
        left: -70px;
        display: block;
        width: 140px;
        height: 140px;
        background-image: url(../images/seo-1.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
    }
}

.seo__image-text {
    position: absolute;
    top: 50%;
    left: -133px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 48px;
    font-family: GothamProBold;
    line-height: 1.17;
    transform: translateY(-40%);
    @media screen and (--tablet) {
        left: -78px;
    }
}

.seo__text {
    padding-bottom: 60px;
    color: #ffffff;
    font-size: 13px;
    line-height: 1.46;
    @media screen and (--tablet) {
       padding-bottom: 0;
    }
    & p:not(:last-child) {
        margin-bottom: 2em;
    }
}