<!-- choose-house -->

<section class="choose-house">

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    <div class="choose-house__image-wrap">

        <a href="/pages/4.2.object-floor.html" class="choose-house__label choose-house__label--1">
            <span class="choose-house__label-title">корпус</span>
            <span class="choose-house__label-accent">a</span>
        </a>
        <a href="/pages/4.2.object-floor.html" class="choose-house__label choose-house__label--2">
            <span class="choose-house__label-title">корпус</span>
            <span class="choose-house__label-accent">b</span>
        </a>
        <a href="/pages/4.2.object-floor.html" class="choose-house__label choose-house__label--3">
            <span class="choose-house__label-title">корпус</span>
            <span class="choose-house__label-accent">c</span>
        </a>

        <img
            alt    = ""
            class  = "choose-house__image"
            src    = "/assets/images/choose-house-1.jpg"
            usemap = "#choose-house-map"
        />

        <map
            name  = "choose-house-map"
            id    = "choose-house-map"
            class = "choose-house__map"
        >
            <area
                shape  = "poly"
                coords = "244,540,247,343,277,341,276,335,332,332,340,334,355,337,373,352,370,565"
                href   = "/pages/4.2.object-floor.html"
            />
            <area
                shape  = "poly"
                coords = "427,562,428,369,454,362,455,358,510,355,519,359,537,364,539,376,536,562,534,572"
                href   = "/pages/4.2.object-floor.html"
            />
            <area
                shape  = "poly"
                coords = "625,400,650,398,651,391,712,390,717,395,733,398,723,618,625,591"
                href   = "/pages/4.2.object-floor.html"
            />
        </map>

    </div>

</section>

<!-- /choose-house  -->