{% set layout = 'main' %}

{#{% from "partials/lightbox/lightbox.htm" import lightbox %}#}

{# == #}

<!DOCTYPE html>

<html lang="ru" data-layout="{{ layout }}" data-page="{{ page }}">

    <head>

        {% include "partials/head.htm" %}

    </head>

    <body>

        <div class="grid grid--type--main">
            <div class="grid__container">
                <div class="grid__row">
                    <div class="grid__col grid__col--position--1">

                        {% block position_1 %}{% endblock %}

                    </div>
                </div>
            </div>
            <div class="grid__container grid__container--type--main">
                <div class="grid__row">
                    <div class="grid__col grid__col--position--2">

                        {% block position_2 %}{% endblock %}

                    </div>
                </div>
                <div class="grid__row grid__row--fix--1">
                    <div class="grid__col grid__col--position--3">

                        {% block position_3 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--4">

                        {% block position_4 %}{% endblock %}

                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col grid__col--position--5">

                        {% block position_5 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--6">

                        {% block position_6 %}{% endblock %}

                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col grid__col--position--7">

                        {% block position_7 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--8">

                        {% block position_8 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--9">

                        {% block position_9 %}{% endblock %}

                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col grid__col--position--10">

                        {% block position_10 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--11">

                        {% block position_11 %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid--type--footer">
            <div class="grid__container">
                <div class="grid__row">
                    <div class="grid__col grid__col--position--12">

                        {% block position_12 %}{% endblock %}

                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col grid__col--position--13">

                        {% block position_13 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--16">

                        {% block position_16 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--17">

                        {% block position_17 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--18">

                        {% block position_18 %}{% endblock %}

                    </div>
                    <div class="grid__col grid__col--position--19-20">
                        <div class="grid__col grid__col--position--19">

                            {% block position_19 %}{% endblock %}

                        </div>
                        <div class="grid__col grid__col--position--20">

                            {% block position_20 %}{% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "partials/scripts.htm" %}

    </body>

</html>