{% set layout = 'main' %}

{# == #}

<!DOCTYPE html>

<html lang="ru" data-layout="{{ layout }}" data-page="{{ page }}">

    <head>

        {% include "partials/head.htm" %}

    </head>

    <body>

        <div class="grid grid--type--main">
            <div class="grid__container">

                {% block header %}{% endblock %}

            </div>
            <div class="grid__container grid__container--type--main">

                {% block main_menu %}{% endblock %}

                <div class="grid__row grid__row--positions--p-s">

                    {% block promo %}{% endblock %}
                    {% block sales %}{% endblock %}

                </div>
                <div class="grid__row grid__row--positions--nc-a">

                    {% block news_carousel %}{% endblock %}
                    {% block actions %}{% endblock %}

                </div>

            </div>
            <div class="grid__container">
                <div class="grid__row grid__row--positions--fs-ac-s">

                    {% block form_subscribe %}{% endblock %}
                    {% block about_company %}{% endblock %}
                    {% block slogan %}{% endblock %}

                </div>
                <div class="grid__row grid__row--positions--r-p">

                    {% block reviews %}{% endblock %}
                    {% block partners %}{% endblock %}

                </div>
            </div>
        </div>

        <div class="grid grid--type--footer">
            <div class="grid__container">
                <div class="grid__row">

                    {% block seo %}{% endblock %}

                </div>
                <div class="grid__row grid__row--positions--c-fm-fs">

                    {% block copy %}{% endblock %}
                    {% block footer_menu %}{% endblock %}
                    {% block footer_social %}{% endblock %}

                </div>
            </div>
        </div>

        {% include "partials/scripts.htm" %}

    </body>

</html>