{% set layout = 'object' %}

{# == #}

<!DOCTYPE html>

<html lang="ru" data-layout="{{ layout }}" data-page="{{ page }}">

    <head>

        {% include "partials/head.htm" %}

    </head>

    <body>

        <div class="grid grid--type--main">
            <div class="grid__container">

                {% block header %}{% endblock %}

            </div>
            <div class="grid__container grid__container--type--main">

                {% block main_menu %}{% endblock %}

                <div class="grid__row grid__row--positions--om-op">

                    {% block object_menu %}{% endblock %}
                    {% block object_promo %}{% endblock %}

                </div>
                <div class="grid__row">

                    {% block object_text %}{% endblock %}
                    {% block object_table %}{% endblock %}

                </div>

                {% block object_map %}{% endblock %}

            </div>
            <div class="grid__container">
                <div class="grid__row grid__row--positions--og-od">

                    {% block object_gallery %}{% endblock %}
                    {% block object_documents %}{% endblock %}

                </div>
            </div>
        </div>

        <div class="grid grid--type--footer">
            <div class="grid__container">
                <div class="grid__row grid__row--positions--c-fm-fs">

                    {% block copy %}{% endblock %}
                    {% block footer_menu %}{% endblock %}
                    {% block footer_social %}{% endblock %}

                </div>
            </div>
        </div>

        {% include "partials/scripts.htm" %}

    </body>

</html>