.sales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: calc((100%/12)*3);
    @media screen and (--tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.sales__item {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 12px;
    width: 100%;
    height: calc((100% - 20px)/3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    @media screen and (--tablet) {
        width: calc((100% - var(--gridGutter)*2)/3);
        height: 164px;
        flex-grow: 0;
    }
    @media screen and (--mobile) {
        width: 100%;
        height: 164px;
        background-position: center top;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.sales__item-image {
    @nest .sales__item:hover & {
        opacity: .8;
        transform: scale(1.05);
    }
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
    object-position: center;
    object-fit: cover;
}

.sales__item-name {
    position: relative;
    display: block;
    align-self: flex-start;
    width: 100%;
    color: #9c765a;
    font-weight: normal;
    font-size: 11px;
    font-family: GothamProBold;
    line-height: 1.64;
    text-transform: uppercase;
    @media screen and (--mobile) {
        display: none;
    }
}

.sales__item-title {
    position: relative;
    display: block;
    align-self: flex-end;
    margin-bottom: -2em;
    width: 100%;
    color: #0062cd;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.sales__item-cost {
    position: relative;
    display: block;
    align-self: flex-end;
    width: 100%;
    color: #0062cd;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 50px;
    font-family: GothamProBold;
    @media screen and (--mobile) {
        font-size: 36px;
    }
}