<!-- sales -->
<section class="sales">

    <a
        href="#"
        class="sales__item"
        style="background-image: url(/assets/images/sales-1.jpg)"
    >
        <strong class="sales__item-name">покупка жилья</strong>
        <strong class="sales__item-title">ипотека</strong>
        <span class="sales__item-cost">11%</span>
        <h1 class="e2-published e2-smart-title">

  </h1>
    </a>

    <a
        href="#"
        class="sales__item"
        style="background-image: url(/assets/images/sales-2.jpg)"
    >
        <strong class="sales__item-name">акция</strong>
        <strong class="sales__item-title">рассрочка</strong>
        <span class="sales__item-cost">36<small>мес.</small></span>
    </a>

    <a
        href="#"
        class="sales__item"
        style="background-image: url(/assets/images/sales-3.jpg)"
    >
        <strong class="sales__item-name">акция</strong>
        <strong class="sales__item-title">скидка</strong>
        <span class="sales__item-cost">10%</span>
    </a>

</section>
<!-- /sales  -->