<!-- sales -->
<section class="sales">

    <a
        href="/pages/7.1.action.html"
        class="sales__item"
    >
        <img
            src   = "/assets/images/sales-1.jpg"
            alt   = ""
            class = "sales__item-image"
            data-fix--ie--object-fit
        >
        <strong class="sales__item-name">покупка жилья</strong>
        <strong class="sales__item-title">ипотека</strong>
        <span class="sales__item-cost">11%</span>
    </a>

    <a
        href="/pages/7.1.action.html"
        class="sales__item"
    >
        <img
            src   = "/assets/images/sales-2.jpg"
            alt   = ""
            class = "sales__item-image"
            data-fix--ie--object-fit
        >
        <strong class="sales__item-name">акция</strong>
        <strong class="sales__item-title">рассрочка</strong>
        <span class="sales__item-cost">36<small>мес.</small></span>
    </a>

    <a
        href="/pages/7.1.action.html"
        class="sales__item"
    >
        <img
            src   = "/assets/images/sales-3.jpg"
            alt   = ""
            class = "sales__item-image"
            data-fix--ie--object-fit
        >
        <strong class="sales__item-name">акция</strong>
        <strong class="sales__item-title">скидка</strong>
        <span class="sales__item-cost">10%</span>
    </a>

</section>
<!-- /sales  -->