.choose-floor {
    position: relative;
    overflow: hidden;
    width: calc((100%)/12*10);
    @media screen and (--tablet) {
        width: calc((100%)/12*9);
    }
    @media screen and (--mobile) {
        width: 100%;
        height: 570px;
    }
}

.choose-floor__image-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    @media screen and (--mobile) {
        position: relative;
        width: min-content;
    }
}

.choose-floor__image {
    width: auto;
    height: 100%;
}

.choose-floor__map {}

.choose-floor__tooltip {
    position: relative;
    display: flex;
    padding-left: 20px;
}

.choose-floor__label {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9c765a;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: GothamProBold;
    position: relative;
    &--floor {
        background-color: #9c765a;
        &::before {
            position: absolute;
            bottom: 50%;
            left: 0;
            display: block;
            width: 16px;
            height: 10px;
            background-image: url(../images/choose-house-2.svg);
            background-position: center bottom;
            background-repeat: no-repeat;
            content: '';
            transform: translate(-80%, 50%) rotateZ(90deg);
            z-index: 15;
        }
    }
    &--rooms {
        background-color: #252525;
        @media screen and (--tablet) {
            display: none;
        }
    }
}

.choose-floor__label-title {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 11px;
}

.choose-floor__label-accent {
    font-size: 56px;
    line-height: 1;
}