<!-- choose-floor -->

<section class="choose-floor" id="choose-floor">

    {% include "partials/choose-breadcrumbs/choose-breadcrumbs.htm" %}

    <div class="choose-floor__image-wrap">

        {#<div class="choose-floor__tooltip">
            <figure class="choose-floor__label choose-floor__label--floor">
                <span class="choose-floor__label-title">этаж</span>
                <span class="choose-floor__label-accent">a</span>
            </figure>

            <figure class="choose-floor__label choose-floor__label--rooms">
                <span class="choose-floor__label-title">
                    4 квартиры
                    <br>в продаже</span>
            </figure>
        </div>#}

        <img
            alt    = ""
            class  = "choose-floor__image"
            src    = "/assets/images/choose-floor-1.jpg"
            usemap = "#choose-floor-map"
        />

        <map
            name  = "choose-floor-map"
            id    = "choose-floor-map"
            class = "choose-floor__map"
        >
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "785,203,794,187,1009,92,1048,92,1062,101,1077,110,1090,121,1096,136,1077,123,1054,112,1024,107,996,113"
                data-floor = "17"
                data-rooms = "4"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "793,228,807,219,843,206,877,186,942,171,990,152,1026,144,1069,149,1080,157,1097,167,1084,169,1069,163,1055,161,1038,157,1031,159,1015,161,994,165,935,181"
                data-floor = "16"
                data-rooms = "6"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "792,268,791,256,802,248,831,241,986,193,1021,185,1041,185,1058,186,1070,192,1080,199,1082,205,1076,211,1056,202,1043,200,1033,202,1011,200,991,204"
                data-floor = "15"
                data-rooms = "7"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "1081,261,990,257,871,281,791,290,793,279,977,234,1038,224,1082,237"
                data-floor = "14"
                data-rooms = "3"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "792,321,793,309,813,302,846,300,872,294,957,275,1005,266,1026,264,1050,265,1066,270,1073,273,1082,279,1080,289,1065,287,1041,284,1021,282,995,284"
                data-floor = "13"
                data-rooms = "9"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "792,348,795,339,827,335,988,310,1038,304,1065,310,1079,314,1082,323,1079,334,1019,332,971,332,853,345,807,349"
                data-floor = "12"
                data-rooms = "9"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "792,386,795,371,818,367,878,358,924,355,992,348,1029,347,1060,351,1081,354,1085,364,1074,372,1035,369,997,366"
                data-floor = "11"
                data-rooms = "2"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "1082,415,988,415,796,416,798,402,993,393,1063,389,1084,391"
                data-floor = "10"
                data-rooms = "4"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "794,430,796,446,865,448,932,447,1005,450,1062,449,1084,446,1086,430"
                data-floor = "9"
                data-rooms = "1"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "793,462,799,474,1029,494,1090,490,1085,472"
                data-floor = "8"
                data-rooms = "2"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "793,514,796,494,1035,509,1085,511,1081,528,1040,539"
                data-floor = "7"
                data-rooms = "3"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "795,524,799,538,850,547,952,564,1019,578,1066,574,1081,567,1085,553,1023,558"
                data-floor = "6"
                data-rooms = "7"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "797,565,797,555,827,560,890,567,929,579,998,593,1059,593,1084,594,1082,610,1052,623,1017,628"
                data-floor = "5"
                data-rooms = "6"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "799,604,797,586,848,598,888,606,925,619,970,635,1023,645,1068,642,1088,633,1087,642,1077,654,1041,659,988,660"
                data-floor = "4"
                data-rooms = "8"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "1082,695,1064,704,1033,701,975,689,796,633,798,619,1030,677,1082,680"
                data-floor = "3"
                data-rooms = "3"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "943,729,945,694,1022,711,1070,716,1089,703,1084,725,1071,740,1027,749"
                data-floor = "2"
                data-rooms = "1"
            />
            <area
                href       = "/pages/4.3.object-room.html"
                shape      = "poly"
                coords     = "944,764,946,738,980,744,1018,754,1052,756,1069,753,1064,782,1057,798,1018,790"
                data-floor = "1"
                data-rooms = "2"
            />
        </map>

    </div>

</section>

<!-- /choose-floor  -->