.commercial-object-content {
    margin-bottom: 40px;
    width: calc((100% - var(--gridGutter))/12*5);
    @media screen and (--tablet) {
        margin-bottom: 0;
        width: 100%;
    }
}

.commercial-object-content__table {
    min-height: 180px;
    width: 100%;
    border: solid 1px #979797;
    border-collapse: collapse;
    @media screen and (--mobile) {
        display: block;
        min-height: auto;
    }
    & thead {
        @media screen and (--mobile) {
            display: block;
        }
        & tr {
            background-color: #0f0f10;
            @media screen and (--mobile) {
                display: flex;
                width: 100%;
            }
        }
        & th {
            padding: 22px;
            color: #ffffff;
            text-align: left;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 12px;
            font-family: GothamProMedium;
            @media screen and (--tablet) {
                padding: 22px 1rem;
            }
            @media screen and (--mobile) {
                display: block;
                width: 50%;
            }
        }
    }
    & tbody {
        @media screen and (--mobile) {
            display: block;
        }
        & tr {
            @media screen and (--mobile) {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }
        & td {
            padding: 2rem 22px 22px 22px;
            color: #252525;
            font-size: 13px;
            line-height: 1.38;
            @media screen and (--tablet) {
                padding: 2rem 1rem 22px 1rem;
            }
            @media screen and (--mobile) {
                display: block;
                flex-grow: 1;
                width: 50%;
                padding: 10px;
            }
            &:last-child {
                @media screen and (--mobile) {
                    padding-top: 0;
                }
            }
        }
    }
}

.commercial-object-content__table-num {
    display: block;
    margin-bottom: 12px;
    color: #252525;
    white-space: nowrap;
    font-weight: normal;
    font-size: 34px;
    font-family: GothamProMedium;
    @media screen and (--mobile) {
        margin-bottom: 8px;
        font-size: 22px;
    }
}

.commercial-object-content__table-subnum {
    display: block;
    color: #252525;
    text-transform: lowercase;
    white-space: nowrap;
    font-size: 16px;
}

.commercial-object-content__order {
    padding: 20px 2rem;
    width: 100%;
    border-radius: 4px;
    background-color: #0062cd;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: GothamProBold;
    &:hover {
        background-color: #3395FF;
    }
}

.commercial-object-content__text-wrap {
    width: 100%;
}