.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: calc((100%/12)*4);
    margin-bottom: 100px;
    @media screen and (--tablet) {
        display: none;
    }
}

.partners__item {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 2rem 1rem;
    mix-blend-mode: darken;
}