<!-- mission -->
<section class="mission">
    <header class="mission__title">
        Миссия
        <br>компании
    </header>
    <div class="mission__text typography">
        <p>Наша миссия — постоянное улучшение качества жизни наших клиентов. Мы видим своей основной целью предоставление каждому клиенту полного комплекса современных услуг при постоянном внедрении новейших достижений в области строительных технологий, инвестиционных технологий, совершенствовании бизнес-процессов и повышении уровня сервиса.</p>
    </div>
</section>
<!-- /mission  -->