.mission {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to top, #f5f5f5 0%, #f5f5f5 100%);
    background-repeat: no-repeat;
    background-size: 794px 74px;
    background-position: left bottom;
    margin-bottom: 100px;
    @media screen and (--tablet) {
        background-size: 540px 74px;
    }
    @media screen and (--mobile) {
        background-size: 100% 74px;
        background-position: left 47px;
        margin-bottom: 30px;
    }
}

.mission__title {
    width: calc((100% - var(--gridGutter))/12*4);
    padding-left: 80px;
    font-size: 42px;
    line-height: 1.1;
    color: #252525;
    @media screen and (--mobile) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 42px;
    }
}

.mission__text {
    width: calc((100% - var(--gridGutter))/12*7);
    padding-right: 80px;
    @media screen and (--mobile) {
        width: 100%;
        padding-right: 0;
    }
}