<section class="choose-table">

    <table class="choose-table__content">
        <thead>
            <tr>
                <th>№ квартиры</th>
                <th>площадь, м2</th>
                <th>Балкон, м2</th>
                <th>цена, руб</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[[ num ]]</td>
                <td>[[ area ]]</td>
                <td>[[ balcony ]]</td>
                <td>[[ cost ]]</td>
            </tr>
        </tbody>
    </table>

    <span class="choose-table__code">код <span class="choose-table__code-num">[[ code ]]</span></span>

    <a href="/pages/4.4.object-apartment.html" class="choose-table__readmore">подробнее о квартире</a>

</section>