.choose-table {
    position: relative;
    align-self: flex-start;
    padding: 20px 0;
    min-height: 122px;
    width: 100%;
    background-color: #fff4bf;
    @media screen and (--mobile) {
        order: 3;
        padding: 0;
        background-color: #fff;
    }
}

.choose-table__content {
    width: auto;
    @media screen and (--mobile) {
        display: flex;
    }
    & thead {
        @media screen and (--mobile) {
            display: flex;
            flex-direction: column;
            width: 50%;
            & tr {
                display: block;
                width: 100%;
                border-bottom: 1px solid #fff;
                & th {
                    display: block;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    & tbody {
        @media screen and (--mobile) {
            display: flex;
            flex-direction: column;
            width: 50%;
            & tr {
                display: block;
                width: 100%;
                & td {
                    display: block;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    & tr {
        @media screen and (--mobile) {
            background-color: #FAFAFA;
        }
    }
    & th {
        padding: 5px 20px;
        color: #000000;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 12px;
        font-family: GothamProBold;
        line-height: 1.33;
        @media screen and (--mobile) {
            text-transform: none;
            font-weight: normal;
            font-size: 13px;
            font-family: GothamProRegular;
            line-height: 1.33;
        }
    }
    & td {
        padding: 5px 20px;
        color: #000000;
        text-align: left;
        font-weight: normal;
        font-size: 36px;
        font-family: GothamProBold;
        @media screen and (--mobile) {
            min-height: 28px;
            text-transform: none;
            font-weight: normal;
            font-size: 13px;
            font-family: GothamProRegular;
            line-height: 1.33;
        }
    }
}

.choose-table__code {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 20px;
    min-width: 120px;
    background-color: #EEEEEE;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-family: GothamProBold;
    transform: translateY(100%);
    @media screen and (--mobile) {
        position: relative;
        display: flex;
        padding: 5px 20px;
        width: 100%;
        border-bottom: 1px solid #fff;
        background-color: #FAFAFA;
        text-align: left;
        text-transform: none;
        font-weight: 400;
        font-size: 13px;
        font-family: GothamPro;
        line-height: 1.33;
        transform: none;
    }
}

.choose-table__code-num {
    flex-wrap: inherit;
    font-size: inherit;
    font-family: inherit;
    @media screen and (--mobile) {
        margin-left: auto;
        padding: 0 20px;
        width: 50%;
    }
}

.choose-table__readmore {
    display: block;
    display: none;
    padding: 1rem;
    width: 100%;
    background-color: #0062CD;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    @media screen and (--mobile) {
        @nest .apartment & {
            display: none;
        }
        display: block;
    }
    &:hover {
        background-color: #3395FF;
    }
}